/* Début ajout css de https://htmlcodex.com/demo/?item=1574 , online-education-website-template/css/stlyle.css*/

.input-group-prepend{
    display: flex;
}

.dropdown-toggle{
    border:none;
    
}
.header-carousel01 {
    position: absolute;
    width: 100%;
    height: 100%;
    
}

/* bouton supprimer du div diplome */
.btn-sup {
    border-color: transparent;
    background-color: transparent;
    width: 35px;
    height: 35px;
    /* Ajoutez d'autres styles selon vos besoins */
}
.btn-sup svg {
    fill: black; /* Couleur de remplissage de l'icône */
    /* Ajoutez d'autres styles selon vos besoins */
    width: 20px;
    height: 20px;
}

:root {
    --warning:#e8c116;
    --ciel:#37d8f4e7;
}

.text-warning {
    color: var(--warning);
}

.bg-ciel {
    background: var(--ciel);
}

/* changer height: auto à 500px  */
.owl-carousel.header-carousel img {
    width: 100%; /* Assure que les images remplissent entièrement le conteneur */
    height: 920px;; /* Pour préserver les proportions auto */
}


/* arrière plan*/
.owl-carousel {
    position: relative;
    z-index: 1 !important;
}

/* .container-recherche {
    position: relative;
    z-index: 2 !important;
} */

.container-recherche {
    background-color: rgba(159, 237, 232, 0.2); /* Couleur blanche avec 50% de transparence */
}