.temoignage-text {
    word-wrap: break-word !important;  /* Forcer le retour à la ligne au besoin */
    overflow: hidden !important;       /* Empêche le débordement en cas de texte trop long */
    text-overflow: ellipsis !important; /* Ajoute des points de suspension si le texte est tronqué */
    white-space: normal !important;    /* Permet d'avoir des retours à la ligne normaux */
}
