{% extends 'base.html' %}
{% load static %}
{% block title %} | Demande de paiement{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-4 col-lg-2  ">
            {% include 'partials/_sidebar_admin.html' %}
        </div>
        <div class=" col-sm-12 col-md-8 col-lg-10  wow fadeInUp  " data-wow-delay="0.1s">
            <div class="container-xxl py-1" >
                <div class="container  ">
                    <div class="text-center wow fadeInUp py-4 " data-wow-delay="0.1s"
                        style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                        <h6 class="section-title bg-white text-center text-primary px-3">Détails demande de paiement émise par le professeur</h6>
                    </div>
                    <div class="col-md-12">
                        {% include 'partials/_alerts.html' %}
                    </div>
                </div>
            </div>
            <form method="POST" enctype="multipart/form-data" action="{% url 'admin_demande_paiement' %}" >
                {% csrf_token %}
                {% if  request.user.is_authenticated  and request.user.is_staff and request.user.is_active %}
                    <div class="container-xxl py-5">
                        <div class="container">
                            <div class="container bg-light py-5 " >
                                <div class="row  g-2 ">
                                    <div class="col-md-3 col-sm-12 position-relative">
                                        <label for="eleve_id" class="form-label">Elève</label>
                                        <input type="text" class="form-control form-control-intitule" id="eleve_id" value="{{demande_paiement.eleve.user.first_name}} {{demande_paiement.eleve.user.last_name}}" readonly >
                                    </div>
                                    <div class="col-md-3 col-sm-12 position-relative ">
                                        <label for="date_paiement_id" class="form-label">Echéance paiement</label>
                                        <input type="text" class="form-control form-control-date "  name="echeance" placeholder="Sélectionnez une date" value="{{ date_expiration|default:today|date:'d/m/Y' }}" 
                                        {% if demande_paiement.statut_demande != 'En attente' and demande_paiement.statut_demande != 'Contester' %}
                                            disabled
                                        {% elif demande_paiement.statut_demande == 'Réaliser' %}
                                            disabled
                                        {% elif date_expiration and demande_paiement.url_paiement and today  <=  date_expiration %}
                                            disabled
                                        {% endif %}
                                         >
                                    </div>
                                    <div class="col-md-6 col-sm-12 position-relative">
                                        <label for="url_paiement_id" class="form-label">Lien de paiement</label>
                                        <div class="row g-2">
                                            <div class="col-md-10 col-sm-12 position-relative">
                                                <input type="text" class="form-control" id="url_paiement_id" autocomplete="off" name="url_paiement" value="{{demande_paiement.url_paiement}}"
                                                {% if demande_paiement.statut_demande != 'En attente' and demande_paiement.statut_demande != 'Contester' %}
                                                    disabled
                                                {% elif demande_paiement.statut_demande == 'Réaliser' %}
                                                    disabled
                                                {% elif date_expiration and demande_paiement.url_paiement and today  <=  date_expiration %}
                                                    disabled
                                                {% endif %}
                                                >
                                                <small id="url_paiement_error" class="text-danger" style="display: none;"></small>
                                            </div>
                                            <div class="col-md-2 col-sm-12 position-relative">
                                                <button type="button" class="btn btn-primary w-100" id="coller_btn" 
                                                {% if demande_paiement.statut_demande != 'En attente' and demande_paiement.statut_demande != 'Contester' %}
                                                    disabled
                                                {% elif demande_paiement.statut_demande == 'Réaliser' %}
                                                    disabled
                                                {% elif date_expiration and demande_paiement.url_paiement and today  <=  date_expiration %}
                                                    disabled
                                                {% endif %}
                                                >Coller</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-12 position-relative">
                                        <label for="prof_id" class="form-label">Professeur</label>
                                        <input type="text" class="form-control form-control-intitule" id="prof_id" value="{{demande_paiement.user.first_name}} {{demande_paiement.user.last_name}}" readonly >
                                    </div>
                                    <div class="col-md-3 col-sm-12 position-relative ">
                                        <label for="date_demande_id" class="form-label">date demande de paiement</label>
                                        <input type="text" class="form-control form-control-intitule" id="date_demande_id"  value="{{demande_paiement.date_creation|date:'d/m/Y'}}" readonly >
                                    </div>
                                    <div class="col-md-3 col-sm-12 position-relative">
                                        <label for="mnt_demande_id" class="form-label">Montant demandé</label>
                                        <input type="text" class="form-control form-control-intitule" id="mnt_demande_id" value="{{demande_paiement.montant|default:'0.00'|floatformat:2}} €" readonly >
                                    </div>
                                    <div class="col-md-3 col-sm-12 position-relative">
                                        <label for="statut_demande_id" class="form-label">Statut de la demande</label>
                                        <input type="text"
                                            class="form-control form-control-intitule {% if demande_paiement.statut_demande == 'Contester' %}text-danger{% endif %}"
                                            id="statut_demande_id"
                                            value="{{ demande_paiement.statut_demande }}"
                                            readonly>
                                    </div>
                                    <hr>
                                </div>
                                
                                {% for cours, prix_public in cours_prix_publics %}
                                            <div class="row  g-2 ">
                                                <div class="col-md-3 col-sm-12 position-relative">
                                                    <label for="format_id_{{ id }}" class="form-label">Format cours</label>
                                                    <input type="text" class="form-control form-control-intitule" id="format_id_{{ id }}"  value="{{cours.format_cours}}" readonly >
                                                </div>
                                                <div class="col-md-3 col-sm-12 position-relative">
                                                    <label for="matiere_id_{{ id }}" class="form-label">Matière</label>
                                                    <input type="text" class="form-control form-control-intitule" id="matiere_id_{{ id }}"  value="{{cours.matiere}}" readonly >
                                                </div>
                                                <div class="col-md-2 col-sm-12 position-relative">
                                                    <label for="niveau_id_{{ id }}" class="form-label">Niveau</label>
                                                    <input type="text" class="form-control form-control-intitule" id="niveau_id_{{ id }}"  value="{{cours.niveau}}" readonly >
                                                </div>
                                                <div class="col-md-2 col-sm-12 position-relative">
                                                    <label for="prix_heure_id" class="form-label">Prix/h accordé</label>
                                                    <input type="text" class="form-control form-control-intitule" id="prix_heure_id" value="{{cours.prix_heure|default:'0.00'|floatformat:2}} €" readonly >
                                                </div>
                                                    <div class="col-md-2 col-sm-12 position-relative">
                                                        <label for="prix_heure_publie_id" class="form-label">Prix/h publié</label>
                                                        <input type="text" class="form-control form-control-intitule" id="prix_heure_publie_id" value="{{prix_public|default:'0.00'|floatformat:2}} €" readonly >
                                                    </div>
                                                <hr>
                                                {% for cours_paiement, horaire in horaires %}
                                                    {% if cours == cours_paiement %}
                                                        <div class="row   d-flex justify-content-end">
                                                            <div class="col-md-2 col-sm-12 position-relative ">
                                                                <label for="date_seance_id_{{ id }}" class="form-label">Date séance</label>
                                                                <input type="text" class="form-control form-control-intitule" id="date_seance_id_{{ id }}"  value="{{horaire.date_cours|date:'d/m/Y'}}" readonly >
                                                            </div>
                                                            <div class="col-md-2 col-sm-12 position-relative">
                                                                <label for="duree_id_{{ id }}" class="form-label">Durée</label>
                                                                <input type="text" class="form-control form-control-intitule" id="duree_id_{{ id }}"  value="{{horaire.duree}}" readonly >
                                                            </div>
                                                            <div class="col-md-4 col-sm-12 position-relative">
                                                                <label for="contenu_id_{{ id }}" class="form-label">Contenu</label>
                                                                <input type="text" class="form-control form-control-intitule" id="contenu_id_{{ id }}"  value="{{horaire.contenu}}" readonly >
                                                            </div>
                                                            <div class="col-md-2 col-sm-12 position-relative">
                                                                <label for="statut_seance_id_{{ id }}" class="form-label">Statut séance</label>
                                                                <input type="text" class="form-control form-control-intitule" id="statut_seance_id_{{ id }}"  value="{{horaire.statut_cours}}" readonly >
                                                            </div>
                                                            
                                                        </div>
                                                        
                                                    {% endif %}
                                                {% endfor %}
                                                <br>
                                                <hr>
                                            </div>
                                {% endfor %}
                                
                                <div class="row  " style="margin-bottom: 10px;">
                                    <div class="col-lg-6 col-sm-12">
                                        <label for="text_email_prof" class="form-label"><strong>Message du professeur</strong></label>
                                        <textarea class="form-control profil" id="text_email_prof"  readonly>{{texte_email_prof}}</textarea>
                                    </div>
                                    <div class="col-lg-6 col-sm-12">
                                        <label for="text_email_eleve" class="form-label"><strong>Message de l'élève</strong></label>
                                        <textarea class="form-control profil" id="text_email_eleve"  readonly>{{texte_email_eleve}}</textarea>
                                    </div>
                                </div>
                                <div class="row justify-content-between g-2 p-3">
                                    <div class="col-lg-5 col-md-4 col-sm-6">
                                        <button type="submit" class="btn btn-warning w-100" name="btn_reclamation" {% if not  demande_paiement.reclamation %} disabled {% endif %} >Voire réclamation</button>
                                    </div>
                                    <div class="col-lg-5 col-md-4 col-sm-6">
                                        <button type="submit" class="btn btn-primary w-100" name="btn_ajout_lien_paiement" id="btn_ajout_lien_paiement"
                                            {% if demande_paiement.statut_demande != 'En attente' and demande_paiement.statut_demande != 'Contester' %}
                                                disabled
                                            {% elif demande_paiement.statut_demande == 'Réaliser' %}
                                                disabled
                                            {% elif date_expiration and demande_paiement.url_paiement and today  <=  date_expiration %}
                                                disabled
                                            {% endif %}
                                            >Ajouter le lien de paiement
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </form>
        </div>
    </div>

<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
{% endblock %}

{% block javascript %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/i18n/datepicker-fr.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.8/jquery.inputmask.min.js"></script>
<script src="{% static 'js/Code_en_plus_admin_payment_en_attente_reglement.js' %}"></script>
<script>
    // http://localhost:8000/profil_prof/2/
// fonction pour redimentionner les Textarea selon leur contenu
function adjustTextareaHeight() {
const textareas = document.getElementsByClassName('form-control profil');

for (let i = 0; i < textareas.length; i++) {
    const textarea = textareas[i];
    textarea.style.height = 'auto';
    textarea.style.height = (textarea.scrollHeight - 2) + 'px';
}
}
</script>
<script>
    window.onload = adjustTextareaHeight; // Appel lors du chargement de la page
    document.addEventListener('input', adjustTextareaHeight); // Appel sur changement de contenu
</script>
<script>
document.getElementById("coller_btn").addEventListener("click", async function (event) {
    try {
        // Lire le contenu du presse-papier
        const texte = await navigator.clipboard.readText();
        // Le coller dans l'input
        document.getElementById("url_paiement_id").value = texte;
    } catch (err) {
        console.error("Erreur d'accès au presse-papier :", err);
        alert("Impossible d'accéder au presse-papier. Autorisez l'accès ou collez manuellement.");
    }
});
</script>




{% endblock %}