{% extends 'base.html' %}
{% load static %}
{% block title %} | Comptes Règlements Professeurs{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-sm-12 col-md-4 col-lg-2  ">
        <!-- début sidebar -->
        {% include 'partials/_sidebar_admin.html' %}
        <!-- fin sidebar -->
    </div>
    <div class=" col-sm-12 col-md-8 col-lg-10  wow fadeInUp  " data-wow-delay="0.1s">
        <div class="container-xxl py-1" >
            <div class="container  ">
                <div class="text-center wow fadeInUp py-4 " data-wow-delay="0.1s"
                    style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                    
                        <h5 class="text-center ">Comptes Stripe (professeurs) – Suivi et état</h5>
                        <h5 class="text-center ">Sont affichés uniquement les professeurs ayant bénéficié d’au moins un paiement.</h5>
                    
                </div>
                <div class="col-md-12">
                        {% include 'partials/_alerts.html' %}
                    </div>
                </div>
            </div>
            <form method="POST" enctype="multipart/form-data" >
                {% csrf_token %}
                <!-- boutons début -->
                <div class="container-xxl bg-light" >
                    <div class="row justify-content-between g-2 p-3 ">
                        <div class="col-md-3 col-sm-12 position-relative ">
                            <label for="date_id_1" class="form-label">Début période</label>
                            <input type="text" class="form-control form-control-date " required name="date_debut" placeholder="Sélectionnez une date" value="{{ date_debut|date:'d/m/Y' }}" >
                        </div>
                        <div class="col-md-6 col-sm-12 position-relative text-center">
                            <h1>Premier Paiement Stripe</h1>
                        </div>
                        <div class="col-md-3 col-sm-12 position-relative ">
                            <label for="date_id_2" class="form-label">Fin période</label>
                            <input type="text" class="form-control form-control-date " required name="date_fin" placeholder="Sélectionnez une date" value="{{ date_fin|date:'d/m/Y' }}" >
                        </div>                           
                    </div>
                    <div class="row justify-content-between g-2 p-3 ">
                        <div class="col-lg-3 col-sm-12 d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary w-100" name="btn_en_ettente">
                                Pas encore de compte Stripe
                            </button>
                        </div>
                        <div class="col-lg-3 col-sm-12 d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary w-100" name="btn_en_cours">
                                Compte Stripe non achevé
                            </button>
                        </div>
                        <div class="col-lg-3 col-sm-12 d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary w-100" name="btn_realiser">
                                Compte Stripe achevé
                            </button>
                        </div>
                        <div class="col-lg-3 col-sm-12  justify-content-center">
                            <div class="row  ">
                                <div class="col-md-10 col-sm-12 position-relative ">
                                    <button type="submit" class="btn btn-primary w-100" name="btn_tous">Tous les professeurs</button>
                                </div>
                                <div class="col-md-2 col-sm-12 position-relative  ">
                                    <input class="form-check-input p-3 ms-1 " type="checkbox" name="checkbox_tous" checked id="checkbox_tous_id" >
                                </div>
                            </div>  
                        </div>
                        {% if statut == 'En attente' %}
                        <div class="col-12 text-center  p-4  ">
                            <h6>
                                Professeurs ayant reçu au moins un paiement mais n’ayant pas encore créé leur compte Stripe pour encaisser leurs règlements.
                            </h6>
                        </div>
                        {% elif statut == 'En cours' %}
                        <div class="col-12 text-center  p-4  ">
                            <h6>
                                Professeurs ayant reçu au moins un paiement mais n'ayant pas encore achevé leur compte Stripe pour encaisser leurs règlements.
                            </h6>
                        </div>
                        {% elif statut == 'Réalisé' %}
                        <div class="col-12 text-center  p-4  ">
                            <h6>
                                Professeurs ayant reçu au moins un paiement et disposant d'un compte Stripe actif pour encaisser leurs règlements.
                            </h6>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <!-- boutons fin -->
                {% if  request.user.is_authenticated  and request.user.is_staff and request.user.is_active %}
                <div class="container-xxl py-5">
                    <div class="container">
                        <div class="container bg-light mb-3">
                            {% if not paiements_professeurs %}
                            <div class="col-md-12 text-center">
                                <h4>Il n'y a pas de règlements pour cette période</h4>
                            </div>
                            {% endif %}
                            {% for accord_reglement, id_encript  in paiements_professeurs %}
                            <div class="row  g-2 p-3 " style="margin-bottom: 10px;">
                                <div class="col-md-6 col-sm-12 position-relative">
                                    <div class="row  g-2 ">
                                        <div class="col-md-6 col-sm-12 position-relative">
                                            <label for="statut_id_{{ forloop.counter }}" class="form-label">Etat compte Stripe</label>
                                            <input type="text" class="form-control form-control-intitule" id="statut_id_{{ forloop.counter }}"  value="{{accord_reglement.status}}" readonly name="status_accord_id{{accord_reglement.id}}" >
                                        </div>
                                        <div class="col-md-3 col-sm-12 position-relative ">
                                            <label for="due_date_id_{{ forloop.counter }}" class="form-label">Premier paiement</label>
                                            <input type="text" class="form-control form-control-intitule" id="due_date_id_{{ forloop.counter }}"  value="{{accord_reglement.date_modification|date:'d/m/Y'}}" readonly name="due_date_accord_id{{accord_reglement.id}}" >
                                        </div>
                                        <div class="col-md-3 col-sm-12 position-relative">
                                            <label for="reponse_id_{{ forloop.counter }}" class="form-label">Montant</label>
                                            <input type="text" class="form-control form-control-intitule" id="reponse_id_{{ forloop.counter }}"  value="{{accord_reglement.montant|default:'0.00'|floatformat:2}} €" readonly name="amount_accord_id{{accord_reglement.id}}" >
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="row ">

                                        <label for="prof_id_{{ forloop.counter }}" class="form-label">Professeur</label>
                                        <div class="col-md-6 col-sm-12 position-relative">
                                            
                                            <input type="text" class="form-control form-control-intitule" id="prof_id_{{ forloop.counter }}"  value="{{accord_reglement.user.first_name}} {{accord_reglement.user.last_name}}" readonly name="prof_accord_id{{accord_reglement.id}}" >
                                        </div>
                                        <div class="col-md-5 col-sm-12   ">
                                            <button type="submit" class="btn  btn-primary  w-100 " name="btn_detail_id{{ id_encript}}" disabled >
                                                Détail
                                            </button>
                                        </div>
                                        <div class="col-md-1 col-sm-12 text-center  ">
                                            <input class="form-check-input p-3 checkbox_tous " type="checkbox" name="checkbox_demande_paiement_id{{ id_encript }}"  {% if accord_reglement.status == "Compte Stripe achevé" %} style="display:none;" disable {% else %} checked {%  endif%} >
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            {% endfor %}
                            <div class="row  " style="margin-bottom: 10px;">
                                <div class="col-md-12 col-sm-12 d-flex justify-content-center  py-3">
                                    <button type="submit" class="btn btn-primary col-12" name="btn_enr">
                                        Inviter le professeur à créer ou finaliser son compte Stripe
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </form>
        </div>
    </div>

<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
{% endblock %}

{% block javascript %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/i18n/datepicker-fr.js"></script>
<script src="{% static 'js/Code_en_plus_admin_reglement.js' %}"></script>
<script>
    
</script>
{% endblock %}