<!-- compte_administrateur.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %} | Compte administrateur{% endblock %}

{% block content %}

    <div class="row justify-content-center">
        
        <!-- Mon compte début -->
        <div class="col-sm-12 col-md-4 col-lg-2 ">
            <!-- Début sidebar -->
            {% include 'partials/_sidebar_admin.html' %}
            <!-- Fin sidebar -->
        </div>

        <div class="col-sm-12 col-md-8 col-lg-10 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container">
                <div class="text-center wow fadeInUp py-5" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                    <h4 class="text-center ">Gérer mon compte</h4>
                    <h2 class="text-center ">Consulter mes clients</h2>
                </div>
                <div class="col-md-12">
                    {% include 'partials/_alerts.html' %}
                </div>
                <!-- Services début -->
                {% if  request.user.is_authenticated  and request.user.is_staff and request.user.is_active %}
                <div class="container-xxl py-5">
                    <div class="container">
                        <div class="row g-4">
                            
                        </div>
                    </div>
                </div>
                {% endif %}
                <!-- Services fin -->
            </div>
        </div>
    </div>

    <!-- Mon compte fin -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

{% endblock %}
