{% extends 'base.html' %}
{% load static %}
{% block title %} | Demande Paiement Admin{% endblock %}

{% block content %}


    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-4 col-lg-2  ">
            <!-- début sidebar -->
            {% include 'partials/_sidebar_admin.html' %}
            <!-- fin sidebar -->
        </div>
        <div class=" col-sm-12 col-md-8 col-lg-10  wow fadeInUp  " data-wow-delay="0.1s">
            <!-- Début page -->
            <!-- formulaire créer compte prof début -->
            <div class="container-xxl py-1" >
                <div class="container  ">
                    <div class="text-center wow fadeInUp py-4 " data-wow-delay="0.1s"
                        style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                        <h6 class="section-title bg-white text-center text-primary px-3">État des demandes de paiements</h6>
                    </div>
                    <div class="col-md-12">
                        {% include 'partials/_alerts.html' %}
                    </div>
                </div>
            </div>
            <form method="POST" enctype="multipart/form-data" id="professeurForm" >
                {% csrf_token %}

                <!-- boutons début -->
                <div class="container-xxl bg-light" >
                    <div class="row justify-content-between g-2 p-3 ">
                        <div class="col-md-3 col-sm-12 position-relative ">
                            <label for="date_id_1" class="form-label">Début période</label>
                            <input type="text" class="form-control form-control-date " required name="date_debut" placeholder="Sélectionnez une date" value="{{ date_debut|date:'d/m/Y' }}" >
                        </div>
                        <div class="col-md-6 col-sm-12 position-relative text-center">
                            <h3>Demandes de paiements émises par les professeurs</h3>
                        </div>
                        <div class="col-md-3 col-sm-12 position-relative ">
                            <label for="date_id_2" class="form-label">Fin période</label>
                            <input type="text" class="form-control form-control-date " required name="date_fin" placeholder="Sélectionnez une date" value="{{ date_fin|date:'d/m/Y' }}" >
                        </div>                           
                    </div>
                    <div class="row justify-content-between g-2 p-3 ">
                        <div class="col-lg-2 col-sm-12 d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary w-100" name="btn_en_ettente">
                                En attente
                            </button>
                        </div>
                        <div class="col-lg-2 col-sm-12 d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary w-100" name="btn_en_cours">
                                En cours
                            </button>
                        </div>
                        <div class="col-lg-2 col-sm-12 d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary w-100" name="btn_realiser">
                                Réalisé
                            </button>
                        </div>
                        <div class="col-lg-2 col-sm-12 d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary w-100" name="btn_contester">
                                Contesté
                            </button>
                        </div>
                        <div class="col-lg-2 col-sm-12 d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary w-100" name="btn_annuler">
                                Annulé
                            </button>
                        </div>
                        <div class="col-lg-2 col-sm-12 d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary w-100" name="btn_tous">
                                Tous
                            </button>
                        </div>
                        {% if status_str == 'En attente' %}
                        <div class="col-12 text-center  p-4  ">
                            <h6>
                                Les demandes de paiement en attente désignent celles émises par les professeurs, en attente d'une réponse de leurs élèves.
                            </h6>
                        </div>
                        {% elif status_str == 'En cours' %}
                        <div class="col-12 text-center  p-4  ">
                            <h6>
                                Les demandes de paiement en cours désignent celles émises par les professeurs pour lesquelles les élèves concernés ont initié une transaction de paiement encore inachevée.
                            </h6>
                        </div>
                        {% elif status_str == 'Réaliser' %}
                        <div class="col-12 text-center  p-4  ">
                            <h6>
                                Les demandes de paiement réalisées désignent celles émises par les professeurs pour lesquelles les élèves concernés ont finalisé le paiement.
                            </h6>
                        </div>
                        {% elif status_str == 'Contester' %}
                        <div class="col-12 text-center  p-4  ">
                            <h6>
                                Les demandes de paiement contestées sont celles envoyées par les professeurs, mais qui ont fait l’objet d’une réclamation de la part des élèves concernés.              </h6>
                        </div>
                        {% elif status_str == 'Annuler' %}
                        <div class="col-12 text-center  p-4  ">
                            <h6>
                                Les demandes de paiement annulées sont celles envoyées par les professeurs, puis annulées par ces derniers par la suite.
                            </h6>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <!-- boutons fin -->

                {% if  request.user.is_authenticated  and request.user.is_staff and request.user.is_active %}
                    <!-- Liste élèves début -->
                    <div class="container-xxl py-5">
                        <div class="container">
                            {% for prof in professeurs %}
                                <div class="container bg-light mb-3">
                                    {% if not demande_paiements %}
                                        <div class="col-md-12 text-center">
                                            <h4>Il n'y a pas de paiement pour cette période</h4>
                                        </div>
                                    {% endif %}
                                    <div class="row  py-3" style="margin-bottom: 30px;">
                                        <div class="col-12  position-relative">
                                            <input type="text" class="form-control form-control-intitule" id="prof_id_{{ forloop.counter }}"  value="Professeur: {{prof.first_name}} {{prof.last_name}}" readonly >
                                        </div>
                                    </div>
                                    {% for demande_paiement, professeur, id in demande_paiements %}
                                        {% if professeur == prof %}
                                            <div class="row  " style="margin-bottom: 10px;">
                                                <div class="col-md-3 col-sm-12 position-relative">
                                                    <label for="statut_id_{{ forloop.counter }}" class="form-label">Statut demande paiement</label>
                                                    <input type="text" class="form-control form-control-intitule" id="statut_id_{{ forloop.counter }}"  value="{{demande_paiement.statut_demande}} " readonly >
                                                </div>
                                                <div class="col-md-2 col-sm-12 position-relative ">
                                                    <label for="date_payment_id_{{ forloop.counter }}" class="form-label">Date création</label>
                                                    <input type="text" class="form-control form-control-intitule" id="date_payment_id_{{ forloop.counter }}"  value="{{demande_paiement.date_creation|date:'d/m/Y'}}" readonly>
                                                </div>
                                                <div class="col-md-7 col-sm-12 position-relative">
                                                    <div class="row  ">
                                                        <label for="reponse_id_{{ forloop.counter }}" class="form-label">Montant</label>
                                                        <div class="col-md-2 col-sm-12 position-relative ">
                                                            
                                                            <input type="text" class="form-control form-control-intitule" id="reponse_id_{{ forloop.counter }}"  value="{{demande_paiement.montant|default:''|floatformat:2}} €" readonly>
                                                        </div>
                                                        <div class="col-md-10 col-sm-12 d-flex justify-content-center mb-3">
                                                            <button type="submit" class="btn {% if not demande_paiement.statut_demande == 'Contester' %} btn-primary {% else %} btn-danger {% endif %}  w-100" name="btn_demande_paiement_id{{id}}" >
                                                                {% if not demande_paiement.statut_demande == 'Contester' %}Détail demande de paiement: {% else %}Demande de paiement contestée:{% endif %}  {% if demande_paiement.statut_demande == 'Réaliser' %} Paiement entamé {% elif demande_paiement.date_expiration and demande_paiement.url_paiement and demande_paiement.date_expiration|date:'d/m/Y' < today|date:'d/m/Y' %}Date de paiement expirée {% elif demande_paiement.date_expiration and demande_paiement.url_paiement and not demande_paiement.date_expiration|date:'d/m/Y' < today|date:'d/m/Y' %} Date limite de validation du lien de paiement {{demande_paiement.date_expiration|date:'d/m/Y'}} {% else %} -- Lien de paiement non défini {% endif %}
                                                            </button>
                                                            <!-- <label>
                                            date_expiration: {{demande_paiement.date_expiration|date:'d/m/Y'}} <br>
                                            demande_paiement.url_paiement: {{demande_paiement.url_paiement}} <br>
                                            today: {{today|date:'d/m/Y'}}

                                        </label> -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </form>
        </div>
    </div>

<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
{% endblock %}

{% block javascript %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/i18n/datepicker-fr.js"></script>
<script src="{% static 'js/Code_en_plus_admin_payment_en_attente_reglement.js' %}"></script>
<script>
    
</script>
    
    
    
{% endblock %}