{% extends 'base.html' %}
{% load static %}
{% block title %} | Home{% endblock %}

{% block content %}

<!-- Carousel début -->
<!-- <div class="container-fluid p-0 mb-5"> -->
    <div class="owl-carousel header-carousel " style="z-index: 1;">
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="{% static 'img/carousel-1.jpg' %}" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-sm-10 col-lg-8">
                            <h5 class="text-primary text-uppercase mb-3 animated slideInDown">Cours particulier pour tous les niveaux</h5>
                            <h4 class="display-5 text-white animated slideInDown">La transparence d'une plateforme pour un contrôle total</h4>
                            <p class="fs-5 text-white mb-4 pb-2">Nos professeurs particuliers, recrutés et certifiés, vous accompagnent au quotidien, partout, vers la réussite et l’excellence.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="{% static 'img/carousel-2.jpg' %}" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-sm-10 col-lg-8">
                            <h5 class="text-primary text-uppercase mb-3 animated slideInDown">À VOS CÔTÉS POUR RÉUSSIR</h5>
                            <h4 class="display-5 text-white animated slideInDown">Nos solutions selon vos objectifs</h4>
                            <p class="fs-5 text-white mb-4 pb-2">Nos enseignants créent un environnement bienveillant et encourageant où chaque élève est valorisé et reprend confiance.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- </div> -->
<!-- Carousel fin -->

<!-- Cherchez votre prof début -->
 
<form class="position-absolute bottom-0 start-50 translate-middle container-recherche  " method="POST" enctype="multipart/form-data" autocomplete="off" action="{% url 'index' %}" id="index_id" style="z-index: 10;" >
    {% csrf_token %}
    <div class="container-fluid p-0 mb-5">
        <div class="container   " >
            <div class="col-md-12">
                {% include 'partials/_alerts.html' %}
            </div>
            <div class="container shadow-sm rounded mb-4 p-4">
                <div class="container">
                    <div class="row g-1">
                        <!-- format cours -->
                        <div class="col-md-4 position-relative">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="a_domicile" id="a_domicile_id" {% if radio_name == 'a_domicile' %} checked {% endif %}>
                                <label class="form-check-label text-dark" for="a_domicile_id">
                                    Cours particuliers à domicile
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="webcam" id="webcam_id" {% if radio_name == 'webcam' %} checked {% endif %}>
                                <label class="form-check-label text-dark" for="webcam_id">
                                    Cours particuliers en ligne
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="stage" id="stage_id" {% if radio_name == 'stage' %} checked {% endif %}>
                                <label class="form-check-label text-dark" for="stage_id">
                                    Stage Vacances scolaires
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="stage_webcam" id="stage_webcam_id" {% if radio_name == 'stage_webcam' %} checked {% endif %}>
                                <label class="form-check-label text-dark" for="stage_webcam_id">
                                    Cours en groupe à distance par webcam
                                </label>
                            </div>
                        </div>
                        <div class="col-md-8 position-relative">
                            <div class="text-center wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                                <h5 class="text-center px-3">Recherchez maintenant</h5>
                                <h3 class="mb-1">Votre meilleur professeur</h3>
                            </div>
                        </div>
                        <!-- Matière -->
                        <div class="col-md-3 position-relative">
                            <label class="form-label text-dark">Matière</label>
                            <div class="dropdown">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="matiere_id" name="matiere" value="{{ matiere_defaut }}" readonly>
                                    <ul class="dropdown-menu" id="dropdownMenu_matiere_id" style="max-height: 300px; overflow-y:auto; width: 300px;" aria-labelledby="dropdownMenu_matiere_id">
                                        {% for une_matiere in matieres %}
                                            <li><a class="dropdown-item dropdown-item-demande" href="#" data-target="une_matiere_{{ forloop.counter }}" data-value="{{ une_matiere.matiere }}">{{ une_matiere.matiere }}</a></li>
                                        {% endfor %}
                                    </ul>
                                    <input type="hidden" id="selected_experience_id">
                                </div>
                            </div>
                        </div>
                        <!-- Niveaux -->
                        <div class="col-md-3 position-relative">
                            <label class="form-label text-dark">Niveau</label>
                            <div class="dropdown">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="niveau_id" name="niveau" value="{{ niveau_defaut }}" readonly>
                                    <ul class="dropdown-menu" id="dropdownMenu_niveau_id" style="max-height: 300px; overflow-y:auto; width: 300px;" aria-labelledby="dropdownMenu_niveau_id">
                                        {% for niveau in niveaux %}
                                            <li><a class="dropdown-item dropdown-item-demande" href="#" data-target="niveau_{{ forloop.counter }}" data-value="{{ niveau.niveau }}">{{ niveau.niveau }}</a></li>
                                        {% endfor %}
                                    </ul>
                                    <input type="hidden" id="selected_niveau_id">
                                </div>
                            </div>
                        </div>
                        <!-- Régions -->
                        <div class="col-md-3 position-relative">
                            <label class="form-label text-dark">Région</label>
                            <div class="dropdown">
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-input" id="region_id" name="region" value="{{ region_defaut }}" readonly>
                                    <ul class="dropdown-menu" id="dropdownMenu_region_id" style="max-height: 300px; overflow-y:auto; width: 200px;" aria-labelledby="dropdownMenu_region_id">
                                        {% for region in regions %}
                                            <li><a class="dropdown-item dropdown-item-demande" href="#" data-target="region_{{ forloop.counter }}" data-value="{{ region.region }}">{{ region.region }}</a></li>
                                        {% endfor %}
                                    </ul>
                                    <input type="hidden" id="selected_region_id">
                                </div>
                            </div>
                        </div>
                        <!-- Département -->
                        <div class="col-md-3 position-relative">
                            <label class="form-label text-dark">Département</label>
                            <div class="row g-1">
                                <div class="col-md-9 position-relative">
                                    <div class="dropdown">
                                        <div class="input-group">
                                            <input type="text" class="form-control form-control-input" id="departement_id" name="departement" value="{{ departement_defaut }}" readonly>
                                            <ul class="dropdown-menu" id="dropdownMenu_departement_id" style="max-height: 300px; overflow-y:auto; width: 200px;" aria-labelledby="dropdownMenu_departement_id">
                                                {% for departement in departements %}
                                                    <li><a class="dropdown-item dropdown-item-demande" href="#" data-target="departement_{{ forloop.counter }}" data-value="{{ departement.departement }}">{{ departement.departement }}</a></li>
                                                {% endfor %}
                                            </ul>
                                            <input type="hidden" id="selected_departement_id">
                                        </div>
                                    </div>
                                </div>
                                <!-- Bouton Rechercher -->
                                <div class="col-md-3 position-relative">
                                    <button class="btn btn-primary" type="submit" name="btn_rechercher">Rechercher</button>
                                </div>
                            </div>
                        </div>
                    </div>                        
                </div>
            </div>
        </div>
    </div>
</form>

<!--Cherchez votre prof fin -->
<!-- Service début -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-home text-primary mb-4"></i>
                        <h5 class="mb-3">Cours à domicile</h5>
                        <p>Améliorez le parcours éducatif de vos enfants avec des cours particuliers à domicile sur mesure. Renforcez le potentiel de votre enfant et ses bases de connaissances grâce à des exercices ciblés et des instructeurs qualifiés.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                        <h5 class="mb-3">Cours en ligne</h5>
                        <p>Offrez à vos enfants une opportunité d'apprentissage sur mesure avec des cours particuliers en ligne, pour les aider à exceller dans leurs études, où qu'ils soient. Investissez dans leur succès académique dès aujourd'hui !</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-users text-primary mb-4"></i>
                        <h5 class="mb-3">Stage en présentiel</h5>
                        <p>Transformez les vacances de vos enfants en une opportunité d'apprentissage enrichissante pour un meilleur avenir académique. Une occasion unique de rattraper leur retard avec des cours intensifs et personnalisés.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-users-rectangle text-primary mb-4"></i>
                        <h5 class="mb-3">Stage en ligne</h5>
                        <p>En s’inscrivant dans nos stages en ligne en petit groupe : Des cours interactifs, personnalisés et adaptés au rythme d'apprentissage de vos enfants, vous maximisez leur potentiel académique, depuis le confort de la maison.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service fin -->

<!-- Comment ça marche début -->
<div class="container-xxl py-5 category">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Comment ça marche ?</h6>
            <h1 class="mb-5">Pour commencer son cours</h1>
        </div>
        <div class="row g-3">
            <div class="col-lg-12 col-md-12">
                <div class="position-relative m-4">
                    <div class="progress" role="progressbar" aria-label="Progress" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="height: 1px;">
                        <div class="progress-bar" style="width: 50%"></div>
                    </div>
                    <button type="button" class="position-absolute top-0 start-0 translate-middle btn btn-sm btn-primary rounded-pill" style="width: 2rem; height:2rem;">1</button>
                    <button type="button" class="position-absolute top-0 start-50 translate-middle btn btn-sm btn-primary rounded-pill" style="width: 2rem; height:2rem;">2</button>
                    <button type="button" class="position-absolute top-0 start-100 translate-middle btn btn-sm btn-secondary rounded-pill" style="width: 2rem; height:2rem;">3</button>
                </div>
            </div>
            <div class="row g-3">
                <div class="col-lg-4 col-sm-12">
                    <a href="{% url 'liste_prof' %}">
                        <div class="service-item text-center pt-3">
                            <div class="p-4">
                                <h5 class="mb-3">Recherchez votre cours</h5>
                                <p>Identifiez en quelques instants le stage ou le cours particulier qui vous convient.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="btn" data-bs-toggle="modal" data-bs-target="#creerCompteClient">
                        <div class="service-item text-center pt-3">
                            <div class="p-4">
                                <h5 class="mb-3">Créez votre compte</h5>
                                <p>Remplissez vos infos de compte en 2 minutes.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <h5 class="mb-3">Réservez votre cours</h5>
                            <p>Les cours démarreront dans les meilleurs délais et vous permettront d'atteindre vos objectifs.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Comment ça marche fin -->

<!-- Devenir Prof début -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="{% static 'img/about.jpg' %}" alt="" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">S'inscrire</h6>
                <h1 class="mb-3">Devenir partenaire en dix minutes</h1>
                <p class="mb-3">Optimisez votre enseignement avec notre plateforme dédiée à la gestion des cours particuliers.</p>
                <p class="mb-3">Simplifiez la planification, la communication et la gestion administrative.</p>
                <p class="mb-3">Rejoignez-nous pour valoriser votre expertise et accéder à un réseau d'élèves en quête de tuteurs qualifiés comme vous. Faites évoluer votre carrière dès maintenant !</p>
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Vos coordonnées</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Vos diplômes</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Votre expérience</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Le format de vos cours</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Les matières que vous enseignez</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>La zone d'activité</p>
                    </div>
                </div>
                <div class="btn" data-bs-target="#creerCompteProf" data-bs-toggle="modal">
                    <a class="btn btn-primary py-3 px-5 mt-2">S’inscrire en tant que prof</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Devenir Prof fin -->

<!-- Testimonial Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="text-center">
            <h6 class="section-title bg-white text-center text-primary px-3">Témoignage</h6>
            <h1 class="mb-5">La parole de nos élèves mieux que nos propres mots.</h1>
        </div>
        <div class="owl-carousel testimonial-carousel position-relative">
            <div class="testimonial-item text-center">
                <h5 class="mb-0">Stéphanie</h5>
                <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">Professeur très compétent et pédagogue. Enseignant réactif et sérieux. Je le recommande vivement.</p>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <h5 class="mb-0">Kenza</h5>
                <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">Actuellement élève en PC, les cours proposés par son prof sont le moyen pour moi d'appliquer et d'approfondir les notions étudiées en cours par le biais d'exercices bien choisis.</p>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <h5 class="mb-0">Amalia</h5>
                <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">Il est très investi dans son travail et dans la réussite de ses élèves. Il est très pédagogue et à l'écoute. C'est un vrai plaisir de suivre ses méthodes et de progresser à ses côtés !</p>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <h5 class="mb-0">Vincent</h5>
                <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">Notre fils est élève de prépa PC. Il rencontrait des difficultés en maths lors de sa première année. L'aide de son prof pendant les vacances d'été et depuis le début de l'année a déjà porté ses fruits. Il se sent plus confiant et a le sentiment d'avoir renforcé sa méthode de travail.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->

<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

{% endblock %}
{% block javascript %}
   <script src="{% static 'js/Code_en_plus copy_index.js' %}"></script>
{% endblock %}