{% extends 'base.html' %}
{% load static %}
{% block title %} | Home{% endblock %}

{% block content %}
        <!-- Header d2but -->
        <div class="container-fluid bg-primary py-5 mb-5 page-header">
            <div class="container py-5">
                <div class="row justify-content-center">
                    <div class="col-lg-10 text-center">
                        <!-- header Start -->
                        <div class="container ">
                            <div class="text-center wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                                <h4 class="text-center text-white ">Recherchez maintenant</h6>
                                <h2 class="text-center text-white">Votre meilleur professeur</h1>
                            </div>
                        </div>
                        <!-- header end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Header fin -->
    <!-- About Prof d2but -->
    <div class="contaire">
        <div class="container  p-4" >
            <div class="container " >
                <div class="row g-5 justify-content-start">
                    <div class="col-1 g-3 " style="width: 30px;">
                        <i class="fa fa-arrow-right text-primary me-2"></i>
                    </div>
                    <div class="col-11 g-3  ">
                        <h5 class="mb-4">4 professeurs en Maths disponibles : Cours à domicile - 6ème - Paris</h5>
                    </div>   
                </div>                
            </div>
            <div class="container py-4 " >
                <div class="row g-5 ;">
                    <div class="col-1 g-3 " style="width: 30px;">
                        <i class="fa fa-arrow-right text-primary me-2"></i>
                    </div>
                    <div class="col-11 g-3  ">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked onchange="toggleText()">
                            <label class="form-check-label" for="flexSwitchCheckChecked"><span class="mb-4" id="priceText" >Prix <b>aprés</b> réduction d'impôts</span></label>
                        </div>
                    </div>
                </div>                  
            </div>            
            <div class="container py-4" >                
                <div class="row g-5 ;">
                    <div class="col-1 g-3 " style="width: 30px;">
                        <i class="fa fa-arrow-right text-primary me-2"></i>
                    </div>
                    <div class="col-1 g-3  ">                        
                        <h6 class="mb-4">Tri par :</h6>   
                    </div>
                    <div class="col-2 g-2  ">
                        <select class="form-select form-select-sm" aria-label="Small select example" style="width:170px">
                            <option>Evaluation</option>
                            <option>Tarif croissante</option>
                            <option>Lieu</option>
                        </select>
                    </div> 
                </div>
            </div>
        </div>
        <div class="container liste-prof" id="liste-prof-1">
            <form method="POST" enctype="multipart/form-data" autocomplete="off">
                {% csrf_token %}
                {% for prof in professeurs%}
                <div class="container  bg-light shadow-sm rounded mb-4 p-4" >
                    <div class="container" >
                        <div class="row g-5">
                            <div class="col-2 g-4 wow fadeInUp" data-wow-delay="0.1s" style="max-height: 400px;">
                                <div class="position-relative h-100" >
                                    <img class="border rounded-circle p-2 mx-auto mb-3" src="{{prof.professeur.photo.url}}" style="width: 80px; height: 80px;" alt="" >
                                    <h5 class="mb-0">{{ prof.first_name }}</h5>
                                    </div>
                            </div>
                            <div class="col-lg-7 wow fadeInUp" data-wow-delay="0.3s">
                                <!-- on n'a pas besoin de faire un regroupement car la contrainte des tables di^plome et experience suffisent -->
                                <p>
                                    {% for diplome in prof.diplome_set.all %}
                                        {{ diplome.diplome }}{% if not forloop.last %} | {% endif %}
                                    {% endfor %}
                                      */*   {% for experience in prof.experience_set.all %}
                                        {{ experience.type }}{% if not forloop.last %} | {% endif %}
                                      {% endfor %}
                                </p>                    
                                <!-- la class grid pour aligner les matières sur une meme ligne -->
                                    <div class="grid  ">
                                        <!-- à introduire le code dans un fichier css -->
                                        <div class="left-align-content" style="font-size: 16px; font-weight: bold;" >
                                            <!-- pour éviter les répétitions des matières -->
                                {% regroup prof.prof_mat_niv_set.all by matiere as unique_matiere_list %}
                                {% for unique_matiere in unique_matiere_list %}
                                    {{ unique_matiere.grouper.matiere }}{% if not forloop.last %} | {% endif %}
                                {% endfor %}
                                        </div>
                                    </div>
                                
                                <p class="mb-4">
                                    {% if prof.pro_fichier %}
                                    <!-- pour tronquer le texte et nafficher que les premiers 250 caractaires -->
                                    {{ prof.pro_fichier.description_cours|truncatechars:250 }}
                                    {% endif %}
                                </p>
                            </div>    
                            <div class="col-lg-3 wow fadeInUp" data-wow-delay="0.3s">
                                <div class="row gy-2 gx-4 mb-4">
                                    <div class="col-sm-12  ">
                                        <div class="mb-3">
                                            <small class="fa fa-star text-primary"></small>
                                            <small class="fa fa-star text-primary"></small>
                                            <small class="fa fa-star text-primary"></small>
                                            <small class="fa fa-star text-primary"></small>
                                            <small class="fa fa-star text-primary"></small>
                                            <small>(3 avis)</small>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>157 heures dispensées</p>
                                    </div>
                                    <div class="col-sm-12">
                                        <!-- les prix ne sont pas encore integres dans la base -->
                                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Tarif: <strong><b class="prix_par_heure">25</b>&nbsp;€/h</strong></p>
                                    </div>
                                    <div class="col-sm-12">
                                        <a class="btn btn-primary py-3 px-5 mt-2" href="{% url 'profil_prof' id_user=prof.id %}">Voir profil</a>
                                    </div>
                                </div>
                            </div>  
                        </div>
                    </div>
                </div>
                {% endfor %}
            </form>
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    {% if professeurs.has_previous %}
                        <a href="?page=1">&laquo;&nbsp; Début &nbsp;</a>
                        <a href="?page={{ professeurs.previous_page_number }}">Précédant&nbsp;&nbsp;</a>
                    {% endif %}
            
                    Page:&nbsp;{{ professeurs.number }}&nbsp;&nbsp;parmis&nbsp;&nbsp;{{ professeurs.paginator.num_pages }}
                    {% if professeurs.has_next %}
                    <a href="?page={{ professeurs.next_page_number }}">&nbsp; suivant &nbsp;</a>
                        <a href="?page={{ professeurs.paginator.num_pages  }}">Fin&nbsp;&nbsp;&raquo;</a>
                    {% endif %}
            
                </div>
            </div>
        </div>
    </div>
    <!-- About Prof fin -->

{% endblock %}

{% block javascript %}
    <script src="{% static 'js/Code_en_plus_liste_prof.js' %}"></script>
{% endblock %}