{% extends 'base.html' %}
{% load static %}
{% block title %} | Home{% endblock %}

{% block content %}

<!-- About Prof début -->
<div class="contaire">
    <form method="POST" enctype="multipart/form-data" autocomplete="off" id="liste_prof_id"
        action="{% url 'liste_prof' %}">
        {% csrf_token %}
        <!-- Header début -->
        <div class="container-fluid bg-primary py-5 mb-5 page-header">
            <div class="container py-5">
                <div class="col-md-12">
                    {% include 'partials/_alerts.html' %}
                </div>
                <div class="container shadow-sm rounded mb-4 p-4 container-recherche">
                    <div class="container">
                        <div class="row g-1">
                            <!-- format cours -->
                            <div class="col-md-4 position-relative">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="a_domicile" id="a_domicile_id" 
                                    {% if radio_name == 'a_domicile' %} checked {% endif %}>
                                    <label class="form-check-label text-white" for="a_domicile_id">
                                        Cours particuliers à domicile
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="webcam" id="webcam_id" 
                                    {% if radio_name == 'webcam' %} checked {% endif %}>
                                    <label class="form-check-label text-white" for="webcam_id">
                                        Cours particuliers en ligne
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="stage" id="stage_id" 
                                    {% if radio_name == 'stage' %} checked {% endif %}>
                                    <label class="form-check-label text-white" for="stage_id">
                                        Stage Vacances scolaires
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="stage_webcam" id="stage_webcam_id" 
                                    {% if radio_name == 'stage_webcam' %} checked {% endif %}>
                                    <label class="form-check-label text-white" for="stage_webcam_id">
                                        Cours en groupe à distance par webcam
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-8 position-relative">
                                <div class="text-center wow fadeInUp" data-wow-delay="0.1s"
                                    style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                                    <h5 class="text-center px-3 text-white">Recherchez maintenant</h5>
                                    <h3 class="mb-1 text-white">Votre meilleur professeur</h3>
                                </div>
                            </div>
        
                            <!-- Matière -->
                            <div class="col-md-3 position-relative">
                                <label class="form-label text-white">Matière</label>
                                <div class="dropdown">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="matiere_id" name="matiere" 
                                            value="{{ matiere_defaut }}" readonly>
                                        <ul class="dropdown-menu" id="dropdownMenu_matiere_id" 
                                            style="max-height: 300px; overflow-y:auto; width: 300px;"
                                            aria-labelledby="dropdownMenu_matiere_id">
                                            {% for une_matiere in matieres %}
                                            <li>
                                                <a class="dropdown-item dropdown-item-demande" href="#" 
                                                   data-target="une_matiere_{{ forloop.counter }}" 
                                                   data-value="{{ une_matiere.matiere }}">
                                                   {{ une_matiere.matiere }}
                                                </a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                        <input type="hidden" id="selected_experience_id">
                                    </div>
                                </div>
                            </div>
        
                            <!-- Niveaux -->
                            <div class="col-md-3 position-relative">
                                <label class="form-label text-white">Niveau</label>
                                <div class="dropdown">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="niveau_id" name="niveau" 
                                            value="{{ niveau_defaut }}" readonly>
                                        <ul class="dropdown-menu" id="dropdownMenu_niveau_id" 
                                            style="max-height: 300px; overflow-y:auto; width: 300px;"
                                            aria-labelledby="dropdownMenu_niveau_id">
                                            {% for niveau in niveaux %}
                                            <li>
                                                <a class="dropdown-item dropdown-item-demande" href="#" 
                                                   data-target="niveau_{{ forloop.counter }}" 
                                                   data-value="{{ niveau.niveau }}">
                                                   {{ niveau.niveau }}
                                                </a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                        <input type="hidden" id="selected_niveau_id">
                                    </div>
                                </div>
                            </div>
        
                            <!-- Régions -->
                            <div class="col-md-3 position-relative">
                                <label class="form-label text-white">Région</label>
                                <div class="dropdown">
                                    <div class="input-group">
                                        <input type="text" class="form-control form-control-input" id="region_id" 
                                            name="region" value="{{ region_defaut }}" readonly>
                                        <ul class="dropdown-menu" id="dropdownMenu_region_id" 
                                            style="max-height: 300px; overflow-y:auto; width: 200px;"
                                            aria-labelledby="dropdownMenu_region_id">
                                            {% for region in regions %}
                                            <li>
                                                <a class="dropdown-item dropdown-item-demande" href="#" 
                                                   data-target="region_{{ forloop.counter }}" 
                                                   data-value="{{ region.region }}">
                                                   {{ region.region }}
                                                </a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                        <input type="hidden" id="selected_region_id">
                                    </div>
                                </div>
                            </div>
        
                            <!-- Département -->
                            <div class="col-md-3 position-relative">
                                <label class="form-label text-white">Département</label>
                                <div class="row g-1">
                                    <div class="col-md-9 position-relative">
                                        <div class="dropdown">
                                            <div class="input-group">
                                                <input type="text" class="form-control form-control-input" id="departement_id" 
                                                    name="departement" value="{{ departement_defaut }}" readonly>
                                                <ul class="dropdown-menu" id="dropdownMenu_departement_id" 
                                                    style="max-height: 300px; overflow-y:auto; width: 200px;"
                                                    aria-labelledby="dropdownMenu_departement_id">
                                                    {% for departement in departements %}
                                                    <li>
                                                        <a class="dropdown-item dropdown-item-demande" href="#" 
                                                           data-target="departement_{{ forloop.counter }}" 
                                                           data-value="{{ departement.departement }}">
                                                           {{ departement.departement }}
                                                        </a>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                                <input type="hidden" id="selected_departement_id">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Bouton Rechercher -->
                                    <div class="col-md-3 position-relative">
                                        <button class="btn btn-primary" type="submit" name="btn_rechercher">Rechercher</button>
                                    </div>
                                </div>
                            </div>
        
                        </div>
                    </div>
                </div>
            </div>
        </div>    
        <!-- Header fin -->

        <!-- entete boucle début -->
        <div class="container p-4">
            <div class="container">
                <div class="row g-5 justify-content-start">
                    <div class="col-1 g-3" style="width: 30px;">
                        <i class="fa fa-arrow-right text-primary me-2"></i>
                    </div>
                    <div class="col-11 g-3">
                        <h5 class="mb-4">{{ professeurs.paginator.count }} professeur(s) en {{ matiere_defaut }} : {{ radio_name_text }} - {{ niveau_defaut }} - {{ region_defaut }}</h5>
                    </div>
                </div>
            </div>
        
            <!-- <div class="container py-4">
                <div class="row g-5">
                    <div class="col-1 g-3" style="width: 30px;">
                        <i class="fa fa-arrow-right text-primary me-2"></i>
                    </div>
                    <div class="col-11 g-3">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked onchange="toggleText()">
                            <label class="form-check-label" for="flexSwitchCheckChecked">
                                <span class="mb-4" id="priceText">Prix <b>après</b> réduction d'impôts</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div> -->
        
            <div class="container py-4">
                <div class="row g-5">
                    <div class="col-1 g-3" style="width: 30px;">
                        <i class="fa fa-arrow-right text-primary me-2"></i>
                    </div>
                    <div class="col-1 g-3">
                        <h6 class="mb-4">Tri par :</h6>
                    </div>
                    <div class="col-2 g-3">
                        <select class="form-select form-select-sm" aria-label="Small select example" style="width:170px" name="tri" >

                            <option value="evaluation_decroissante" {% if tri == "evaluation_decroissante"  %} selected {% endif %} >Évaluation décroissante</option>
                            <option value="tarif_croissante" {% if tri == "tarif_croissante" %}  selected {% endif %} >Tarif croissant</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <!-- entete boucle fin -->

        <!-- boucle début -->
        <div class="container liste-prof" id="liste-prof-1">

            {% for prof in professeurs %}
                <div class="container bg-light shadow-sm rounded mb-4 p-4">
                    <div class="container">
                        <div class="row g-5">
                            <div class="col-2 g-4 wow fadeInUp" data-wow-delay="0.1s" style="max-height: 400px;">
                                <div class="position-relative h-100">
                                    <img class="border rounded-circle p-2 mx-auto mb-3" src="{{ prof.professeur.photo.url }}"
                                        style="width: 80px; height: 80px;" alt="">
                                    <h5 class="mb-0">{{ prof.username }}</h5>
                                </div>
                            </div>
                            <div class="col-lg-7 wow fadeInUp" data-wow-delay="0.3s">
                                <!-- Affichage des diplômes et expériences -->
                                <p>
                                    {% for diplome in prof.diplome_set.all %}
                                        {{ diplome.diplome }}{% if not forloop.last %} | {% endif %}
                                    {% endfor %}
                                    {% for experience in prof.experience_set.all %}
                                        {{ experience.type }}{% if not forloop.last %} | {% endif %}
                                    {% endfor %}
                                </p>
                                <!-- Affichage des matières uniques -->
                                <div class="grid">
                                    <div class="left-align-content" style="font-size: 16px; font-weight: bold;">
                                        {% regroup prof.prof_mat_niv_set.all by matiere as unique_matiere_list %}
                                        {% for unique_matiere in unique_matiere_list %}
                                            {{ unique_matiere.grouper.matiere }}{% if not forloop.last %} | {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                                <p class="mb-4">
                                    {% if prof.pro_fichier %}
                                        {{ prof.pro_fichier.description_cours|truncatechars:250 }}
                                    {% endif %}
                                </p>
                            </div>
                            <div class="col-lg-3 wow fadeInUp" data-wow-delay="0.3s">
                                <div class="row gy-2 gx-4 mb-4">
                                    <div class="col-sm-12">
                                        <div class="mb-3 temoignage">
                                            <!-- Étoiles pour le témoignage -->
                                            <small class="fa fa-star temoignage" id="temoignage_{{ prof.id }}_t1"></small>
                                            <small class="fa fa-star temoignage" id="temoignage_{{ prof.id }}_t2"></small>
                                            <small class="fa fa-star temoignage" id="temoignage_{{ prof.id }}_t3"></small>
                                            <small class="fa fa-star temoignage" id="temoignage_{{ prof.id }}_t4"></small>
                                            <small class="fa fa-star temoignage" id="temoignage_{{ prof.id }}_t5"></small>
                                            <small>
                                                ({% if prof.historique_prof.nb_evaluation %}
                                                    {{ prof.historique_prof.nb_evaluation }} avis
                                                {% else %}
                                                    pas d'avis
                                                {% endif %})
                                            </small>
                                            <input type="hidden" id="temoignage_{{ prof.id }}"
                                                value="{% if prof.historique_prof.moyenne_point_cumule %}{{ prof.historique_prof.moyenne_point_cumule }}{% endif %}">
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>
                                            {% if prof.historique_prof.nb_heure_declare %}
                                                {{ prof.historique_prof.nb_heure_declare }} heures dispensées
                                            {% else %}
                                                pas d'heures dispensées
                                            {% endif %}
                                        </p>
                                    </div>
                                    <div class="col-sm-12">
                                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Tarif:
                                            <strong>
                                                <b class="prix_par_heure">
                                                    {% if prof.annotated_prix_heure %}
                                                        {{ prof.annotated_prix_heure }} &nbsp;€/h
                                                    {% else %}
                                                        Le prix de l'heure n'est pas défini
                                                    {% endif %}
                                                </b>
                                            </strong>
                                        </p>
                                    </div>
                                    <div class="col-sm-12">
                                        <a class="btn btn-primary py-3 px-5 mt-2" href="{% url 'profil_prof' id_user=prof.id %}">Voir profil</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        
        </div>
        <!-- boucle fin -->

        <!-- Pagination début -->
        <div class="container liste-prof">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    {% if professeurs.has_previous %}
                    <a href="?page=1">&laquo;&nbsp; Début &nbsp;</a>
                    <a href="?page={{ professeurs.previous_page_number }}">Précédant&nbsp;&nbsp;</a>
                    {% endif %}

                    Page:&nbsp;{{ professeurs.number }}&nbsp;&nbsp;Total enr.&nbsp;&nbsp;{{ professeurs.paginator.count }}
                    {% if professeurs.has_next %}
                    <a href="?page={{ professeurs.next_page_number }}">&nbsp; Page suivante &nbsp;</a>
                    <a href="?page={{ professeurs.paginator.num_pages  }}">Fin&nbsp;&nbsp;&raquo;</a>
                    {% endif %}

                </div>
            </div>
        </div>
        <!-- Pagination fin -->
    </form>
</div>
<!-- About Prof fin -->

{% endblock %}

{% block javascript %}
<script src="{% static 'js/Code_en_plus_liste_prof.js' %}"></script>
<script src="{% static 'js/Code_en_plus_liste_prof_01.js' %}"></script>

{% endblock %}