{% extends 'base.html' %}
{% load static %}
{% block title %} | Home{% endblock %}

{% block content %}
        <!-- Header d2but -->
        <div class="container-fluid bg-primary py-5 mb-5 page-header">
            <div class="container py-5">
                <div class="row justify-content-center">
                    <div class="col-lg-10 text-center">
                        
                        <!-- header Start -->
                        <div class="container ">
                            <div class="text-center wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                                <h4 class="text-center text-white ">Recherchez maintenant</h6>
                                <h2 class="text-center text-white">Votre meilleur professeur</h1>
                            </div>
                            <div class="col-12 g-1 wow fadeInUp" data-wow-delay="0.1s">
                                <div class="mx-auto mb-5" style="width: 100%; ">
                                    <div class="input-group">
                                        <div class="input-group-prepend container ">
                                                <select  class="form-select bg-light text-body px-4 dropdown-toggle"  >
                                                    <option>Tous les matières</option>
                                                    <option>Maths</option>
                                                    <option>Physique-chimie</option>
                                                    <option>Physique</option>
                                                    <option>Chimie</option>
                                                    <option>Anglais</option>
                                                    <option>Français</option>
                                                    <option>Sciences de l'ingénieurs</option>
                                                    <option>SES</option>
                                                    <option>SVT</option>
                                                    <option>Informatique</option>
                                                    <option>Philosophie</option>
                                                    <option>Espagnol</option>
                                                    <option>Culture générale</option>
                                                    <option>Synthèse de document</option>
                                                    <option>Géopolitique</option>
                                                    <option>Analyse documentaire</option>
                                                    <option>ESH</option>
                                                    <option>Entretien de motivation</option>
                                                    <option>Biologie</option>
                                                    <option>Economie</option>
                                                    <option>Sciences politiques</option>
                                                    <option>Statistique</option>
                                                    <option>Allemand</option>
                                                    <option>Grand oral du bac</option>
                                                    <option>Histoire - Géographie</option>
                                                    <option>Latin</option>
                                                    <option>Grec</option>
                                                    <option>Orthographe</option>
                                                    <option>Comptabilité</option>
                                                    <option>Control de gestion</option>
                                                    <option>Marketing</option>
                                                    <option>Microéconomie</option>
                                                    <option>Macroéconomie</option>
                                                    <option>Fiscalité</option>
                                                    <option>Management</option>
                                                    <option>Education civique</option>
                                                    <option>Anatomie</option>
                                                    <option>Biophysique</option>
                                                    <option>Biologie - Ecologie</option>
                                                    <option>Biostatique</option>
                                                    <option>NSI</option>
                                                    <option>Dessin industriel</option>
                                                    <option>Chinois</option>
                                                    <option>Italien</option>
                                                    <option>Gaponais</option>
                                                    <option>Portugais</option>
                                                    <option>Arabe</option>
                                                    <option>Russe</option>
                                                    <option>Orientation scolaire</option>
                                                    <option>FLE</option>
                                                    <option>Coaching scolaire</option>
                                                    <option>Coréen</option>
                                                    <option>TIPE</option>
                                                    <option>TPE</option>
                                                    <option>Musique</option>
                                                    <option>Arts plastiques</option>
                                                    <option>Cinéma audiovisuel</option>
                                                    <option>Théatre</option>
                                                    <option>Histoire des arts</option>
                                                    <option>Danse</option>
                                                    <option>Art du cirque</option>
                                                    
                                                </select>
                                                <select  class="form-select bg-light text-body px-4 dropdown-toggle"  >
                                                    <option>Tous les niveaux</option>
                                                    <option>6ème</option>
                                                    <option>5ème</option>
                                                    <option>4ème</option>
                                                    <option>3ème</option>
                                                    <option>Seconde</option>
                                                    <option>Première STMGL</option>
                                                    <option>Première STL</option>
                                                    <option>Première Générale</option>
                                                    <option>Première STI2D</option>
                                                    <option>Terminale STMG</option>
                                                    <option>Terminale STI2D</option>
                                                    <option>Terminale Générale</option>
                                                    <option>Terminale STL</option>
                                                    <option>Prépa Concours Geipi Polytech</option>
                                                    <option>Avenir-Puissance Alpha-Advance-Geipi</option>
                                                    <option>Acces-Sésame</option>
                                                    <option>Prépa Concours Avenir</option>
                                                    <option>Prépa Sciences Po</option>
                                                    <option>Prépa Concours ESA</option>
                                                    <option>Prépa Concours Advance</option>
                                                    <option>Prépa Concours Acces</option>
                                                    <option>Prépa Concours CRPE</option>
                                                    <option>Pass BBA</option>
                                                    <option>Prépa Concours Puissance Alpha</option>
                                                    <option>Prépa Concours Sésame</option>
                                                    <option>Prépa intégrée 1ère année</option>
                                                    <option>MP2I</option>
                                                    <option>MPSI</option>
                                                    <option>TSI</option>
                                                    <option>TB</option>
                                                    <option>TBC</option>
                                                    <option>ATS</option>
                                                    <option>PTSI</option>
                                                    <option>BBPST 1</option>
                                                    <option>PCSI</option>
                                                    <option>Math Sup</option>
                                                    <option>MP</option>
                                                    <option>PSI</option>
                                                    <option>PC</option>
                                                    <option>Prépa intégré 2ème année</option>
                                                    <option>TSI 2</option>
                                                    <option>MPI</option>
                                                    <option>PT</option>
                                                    <option>BCPST 2</option>
                                                    <option>Maths Spé</option>
                                                    <option>ECG 1</option>
                                                    <option>D1 ENS Cachan</option>
                                                    <option>Hypokhâgne ALL</option>
                                                    <option>Khâgne AL</option>
                                                    <option>Khâgne BL</option>
                                                    <option>Gei Univ</option>
                                                    <option>CAST Ing</option>
                                                    <option>TOEIC</option>
                                                    <option>Tage Mage</option>
                                                    <option>GMAT</option>
                                                    <option>Score IAE Message</option>
                                                    <option>TOEFL</option>
                                                    <option>Architechture</option>
                                                    <option>Infirmier</option>
                                                    <option>Capes</option>
                                                    <option>Tage 2</option>
                                                    <option>IELTS</option>
                                                    <option>DCG</option>
                                                    <option>DSCG</option>
                                                    <option>Agrégation</option>
                                                    <option>BUT</option>
                                                    <option>BTS</option>
                                                    <option>Licence 1</option>
                                                    <option>Licence 2</option>
                                                    <option>Licence 3</option>
                                                    <option>Master 1</option>
                                                    <option>Master 2</option>
                                                    <option>Adultes</option>
                                                </select>
                                                <select  class="form-select bg-light text-body px-4 dropdown-toggle"  >
                                                    <option>Cours à domicile</option>
                                                    <option>Cours en ligne</option>
                                                    <option>Stage en présentiel</option>
                                                    <option>Stage en ligne</option>
                                                </select>
                                                <select  class="form-select bg-light text-body px-4 dropdown-toggle"  >
                                                    <option>Paris</option>
                                                    <option>Marseille</option>
                                                    <option>Lyon</option>
                                                    <option>Toulouse</option>
                                                    <option>Nice</option>
                                                    <option>Nantes</option>
                                                    <option>Montpellier</option>
                                                    <option>Strasbourg</option>
                                                    <option>Bordeaux</option>
                                                    <option>Lille</option>
                                                    <option>Rennes</option>
                                                    <option>Reims</option>
                                                    <option>Saint-Étienne</option>
                                                    <option>Le Havre</option>
                                                    <option>Toulon</option>
                                                    <option>Grenoble</option>
                                                    <option>Dijon</option>
                                                    <option>Angers</option>
                                                    <option>Nîmes</option>
                                                    <option>Villeurbanne</option>
                                                </select>
                                                <button class="btn btn-primary py-3 px-5 "  >Chercher</button>
                                        </div>  
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- header end -->
    
                    </div>
                </div>
            </div>
        </div>
        <!-- Header fin -->



    <!-- About Prof d2but -->
    <div class="contaire">
        <div class="container  p-4" >
            <div class="container " >
                <div class="row g-5 justify-content-start">
                    <div class="col-1 g-3 " style="width: 30px;">
                        <i class="fa fa-arrow-right text-primary me-2"></i>
                    </div>
                    <div class="col-11 g-3  ">
                        <h5 class="mb-4">4 professeurs en Maths disponibles : Cours à domicile - 6ème - Paris</h5>
                    </div>   
                </div>                
            </div>
            <div class="container py-4 " >
                <div class="row g-5 ;">
                    <div class="col-1 g-3 " style="width: 30px;">
                        <i class="fa fa-arrow-right text-primary me-2"></i>
                    </div>
                    <div class="col-11 g-3  ">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked onchange="toggleText()">
                            <label class="form-check-label" for="flexSwitchCheckChecked"><span class="mb-4" id="priceText" >Prix <b>aprés</b> réduction d'impôts</span></label>
                        </div>
                    </div>
                </div>                  
            </div>            
            <div class="container py-4" >                
                <div class="row g-5 ;">
                    <div class="col-1 g-3 " style="width: 30px;">
                        <i class="fa fa-arrow-right text-primary me-2"></i>
                    </div>
                    <div class="col-1 g-3  ">                        
                        <h6 class="mb-4">Tri par :</h6>   
                    </div>
                    <div class="col-2 g-2  ">
                        <select class="form-select form-select-sm" aria-label="Small select example" style="width:170px">
                            <option>Evaluation</option>
                            <option>Tarif croissante</option>
                            <option>Lieu</option>
                        </select>
                    </div> 
                </div>
            </div>
        </div>
        <div class="container liste-prof" id="liste-prof-1">
            <form >
                {% for prof in professeurs%}
                <div class="container  bg-light shadow-sm rounded mb-4 p-4" >
                    <div class="container" >
                        <div class="row g-5">
                            <div class="col-2 g-4 wow fadeInUp" data-wow-delay="0.1s" style="max-height: 400px;">
                                <div class="position-relative h-100" >
                                    <img class="border rounded-circle p-2 mx-auto mb-3" src="{{prof.photo.url}}" style="width: 80px; height: 80px;" alt="{{prof.nom}}" >
                                    <h5 class="mb-0">{{prof.prenom}}</h5>
                                    </div>
                            </div>
                            <div class="col-lg-7 wow fadeInUp" data-wow-delay="0.3s">
                                <!-- on n'a pas besoin de faire un regroupement car la contrainte des tables di^plome et experience suffisent -->
                                <p>
                                    {% for diplome in prof.diplome_set.all %}
                                        {{ diplome.diplome }}{% if not forloop.last %} | {% endif %}
                                    {% endfor %}
                                      */*   {% for experience in prof.experience_set.all %}
                                        {{ experience.type }}{% if not forloop.last %} | {% endif %}
                                      {% endfor %}
                                </p>                    
                                <!-- la class grid pour aligner les matières sur une meme ligne -->
                                    <div class="grid  ">
                                        <!-- à introduire le code dans un fichier css -->
                                        <div class="left-align-content" style="font-size: 16px; font-weight: bold;" >
                                            <!-- pour éviter les répétitions des matières -->
                                {% regroup prof.prof_mat_niv_set.all by matiere as unique_matiere_list %}
                                {% for unique_matiere in unique_matiere_list %}
                                    {{ unique_matiere.grouper.matiere }}{% if not forloop.last %} | {% endif %}
                                {% endfor %}
                                        </div>
                                    </div>
                                
                                <p class="mb-4">
                                    {% if prof.pro_fichier %}
                                    <!-- pour tronquer le texte et nafficher que les premiers 250 caractaires -->
                                    {{ prof.pro_fichier.description_cours|truncatechars:250 }}
                                    {% endif %}
                                </p>
                            </div>    
                            <div class="col-lg-3 wow fadeInUp" data-wow-delay="0.3s">
                                <div class="row gy-2 gx-4 mb-4">
                                    <div class="col-sm-12  ">
                                        <div class="mb-3">
                                            <small class="fa fa-star text-primary"></small>
                                            <small class="fa fa-star text-primary"></small>
                                            <small class="fa fa-star text-primary"></small>
                                            <small class="fa fa-star text-primary"></small>
                                            <small class="fa fa-star text-primary"></small>
                                            <small>(3 avis)</small>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>157 heures dispensées</p>
                                    </div>
                                    <div class="col-sm-12">
                                        <!-- les prix ne sont pas encore integres dans la base -->
                                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Tarif: <strong><b class="prix_par_heure">25</b>&nbsp;€/h</strong></p>
                                    </div>
                                    <div class="col-sm-12">
                                        <a class="btn btn-primary py-3 px-5 mt-2" href="{% url 'profil_prof' id_prof=prof.id %}">Voir profil</a>
                                    </div>
                                </div>
                            </div>  
                        </div>
                    </div>
                </div>
                {% endfor %}
            </form>
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    {% if professeurs.has_previous %}
                        <a href="?page=1">&laquo;&nbsp; Début &nbsp;</a>
                        <a href="?page={{ professeurs.previous_page_number }}">Précédant&nbsp;&nbsp;</a>
                    {% endif %}
            
                    Page:&nbsp;{{ professeurs.number }}&nbsp;&nbsp;parmis&nbsp;&nbsp;{{ professeurs.paginator.num_pages }}
                    {% if professeurs.has_next %}
                    <a href="?page={{ professeurs.next_page_number }}">&nbsp; suivant &nbsp;</a>
                        <a href="?page={{ professeurs.paginator.num_pages  }}">Fin&nbsp;&nbsp;&raquo;</a>
                    {% endif %}
            
                </div>
            </div>
        </div>
    </div>
    <!-- About Prof fin -->

{% endblock %}