{% extends 'base.html' %}
{% load static %}
{% block title %} | Réclamations{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-4 col-lg-2  ">
            <!-- début sidebar -->
            {% if request.user.is_authenticated %}
                {% if request.user.eleve %}
                    {% include 'partials/_sidebar_eleve.html' %}
                {% elif request.user.professeur %}
                    {% include 'partials/_sidebar.html' %}
                {% else %}
                    {% include 'partials/_sidebar_admin.html' %}
                {% endif %}
            {% endif %}
            <!-- fin sidebar -->
        </div>
        <div class=" col-sm-12 col-md-8 col-lg-10  wow fadeInUp  " data-wow-delay="0.1s">
            <!-- Début page -->
            <div class="container-xxl py-1" >
                <div class="container  ">
                    <div class="text-center wow fadeInUp py-4 " data-wow-delay="0.1s"
                        style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                        <h6 class="section-title bg-white text-center text-primary px-3">État des réclamations par période</h6>
                    </div>
                    <div class="col-md-12">
                        {% include 'partials/_alerts.html' %}
                    </div>
                </div>
            </div>
            <form method="POST" enctype="multipart/form-data" id="professeurForm" >
                {% csrf_token %}

                <!-- boutons début -->
                <div class="container-xxl bg-light" >
                    <div class="row justify-content-between g-2 p-3 ">
                        <div class="col-md-3 col-sm-12 position-relative ">
                            <label for="date_id_1" class="form-label">Début période</label>
                            <input type="text" class="form-control form-control-date " required name="date_debut" placeholder="Sélectionnez une date" value="{{ date_debut|date:'d/m/Y' }}" >
                        </div>
                        <div class="col-md-6 col-sm-12 position-relative text-center">
                            <h1>Réclamations</h1>
                        </div>
                        <div class="col-md-3 col-sm-12 position-relative ">
                            <label for="date_id_2" class="form-label">Fin période</label>
                            <input type="text" class="form-control form-control-date " required name="date_fin" placeholder="Sélectionnez une date" value="{{ date_fin|date:'d/m/Y' }}" >
                        </div>                           
                    </div>
                    <div class="row justify-content-between g-2 p-3 ">
                        <div class="col-lg-2 col-sm-12 d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary w-100" name="btn_en_attente">
                                En attente
                            </button>
                        </div>
                        <div class="col-lg-2 col-sm-12 d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary w-100" name="btn_en_cours">
                                En cours
                            </button>
                        </div>
                        <div class="col-lg-2 col-sm-12 d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary w-100" name="btn_resolue">
                                Résolue
                            </button>
                        </div>
                        <div class="col-lg-2 col-sm-12 d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary w-100" name="btn_fermee">
                                Fermée
                            </button>
                        </div>
                        <div class="col-lg-2 col-sm-12 d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary w-100" name="btn_non_lu">
                                Non lue
                            </button>
                        </div>
                        <div class="col-lg-2 col-sm-12 d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary w-100" name="btn_tous">
                                Tous
                            </button>
                        </div>
                        {% if status_str == 'en_attente' %}
                        <div class="col-12 text-center  p-4  ">
                            <h6>
                                Les réclamations en attente n'ont pas encore été traitées par l'administration.
                            </h6>
                        </div>
                        {% elif status_str == 'en_cours' %}
                        <div class="col-12 text-center  p-4  ">
                            <h6>
                                Les réclamations en cours sont actuellement traitées par l'administration, mais n'ont pas encore été finalisées.
                            </h6>
                        </div>
                        {% elif status_str == 'resolue' %}
                        <div class="col-12 text-center  p-4  ">
                            <h6>
                                Les réclamations résolues ont été traitées avec succès par l'administration et leur traitement est désormais achevé.
                            </h6>
                        </div>
                        {% elif status_str == 'fermee' %}
                        <div class="col-12 text-center  p-4  ">
                            <h6>
                                Les réclamations fermées sont clôturées, bien qu'elles ne soient pas nécessairement résolues.
                            </h6>
                        </div>
                        {% elif status_str == 'non_lu' %}
                        <div class="col-12 text-center  p-4  ">
                            <h6>
                                Les réclamations non vues n'ont pas encore été consultées par l'administration.
                            </h6>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <!-- boutons fin -->

                {% if  request.user.is_authenticated  and request.user.is_active %}
                    <div class="container-xxl py-5">
                        <div class="container">
                            <div class="container bg-light  p-3 ">
                                {% if not reclamation_list %}
                                    <div class="col-md-12 text-center">
                                        <h4>Il n'y a pas de réclamations pour cette période</h4>
                                    </div>
                                {% endif %}
                                {% for reclamation , reclamation_id in reclamation_list %}
                                <!-- le tri du view ne tient pas compte des réclamatioms lues ou non lues -->
                                {% if not status_str == 'non_lu' %}
                                    <div class="row g-2 " style="margin-bottom: 10px;">
                                        <div class="col-md-2 col-sm-12 position-relative ">
                                            <label for="priorit_id{{ forloop.counter }}" class="form-label">Priorité / User</label>
                                            <input type="text" class="form-control form-control-intitule" id="priorit_id{{ forloop.counter }}"  value="{{reclamation.get_priorite_display}} / {{reclamation.user}}" readonly>
                                        </div>
                                        <div class="col-md-2 col-sm-12 position-relative ">
                                            <label for="date_reclamation_id_{{ forloop.counter }}" class="form-label">Date réclamation</label>
                                            <input type="text" class="form-control form-control-intitule" id="date_reclamation_id_{{ forloop.counter }}"  value="{{reclamation.date_creation|date:'d/m/Y'}}" readonly>
                                        </div>
                                        <div class="col-md-2 col-sm-12 position-relative">
                                            <label for="statut_id_{{ forloop.counter }}" class="form-label">Statut</label>
                                            <input type="text" class="form-control form-control-intitule" id="statut_id_{{ forloop.counter }}"  value="{{ reclamation.get_statut_display }}" readonly >
                                        </div>
                                        <div class="col-md-2 col-sm-12 position-relative ">
                                            <label for="categorie_id_{{ forloop.counter }}" class="form-label">Cathégorie</label>
                                            <input type="text" class="form-control form-control-intitule" id="categorie_id_{{ forloop.counter }}"  value="{{reclamation.categorie}}" readonly>
                                        </div>
                                        <div class="col-md-2 col-sm-12 position-relative ">
                                            <label for="titre_id_{{ forloop.counter }}" class="form-label">Titre</label>
                                            <input type="text" class="form-control form-control-intitule" id="titre_id_{{ forloop.counter }}"  value="{{reclamation.messages.first.titre}}" readonly>
                                        </div>
                                        
                                        <div class="col-md-2 col-sm-12 position-relative mb-0 py-0">
                                            <label for="vue_id{{ reclamation.id }}" class="form-label">Vue</label>
                                            <div class="row g-2 ">
                                                <div class="col-md-5 col-sm-12 position-relative ">
                                                    <input type="text" class="form-control form-control-intitule" id="vue_id{{ reclamation.id }}"  value="{% if reclamation.messages.last.lu %} Oui {% else %} Non {% endif %}" readonly>
                                                </div>
                                                <div class="col-md-7 col-sm-12 d-flex justify-content-center mb-3">
                                                    <button type="submit" class="btn btn-primary  w-100" name="btn_reclamation_id{{reclamation_id}}" >
                                                        Détaille
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {%  endif %}
                                {% endfor %}
                                {% for reclamation , reclamation_id in reclamation_list %}
                                <!-- dans ce cas seul les réclamations non lues sont affichées grasse à la commande last qui ne tient compte que du dernier message lié à la  réclamation -->
                                {% if status_str == 'non_lu' and not reclamation.messages.last.lu  %}
                                    <div class="row g-2 " style="margin-bottom: 10px;">
                                        <div class="col-md-2 col-sm-12 position-relative ">
                                            <label for="priorit_id{{ forloop.counter }}" class="form-label">Priorité / User</label>
                                            <input type="text" class="form-control form-control-intitule" id="priorit_id{{ forloop.counter }}"  value="{{reclamation.get_priorite_display}} / {{reclamation.user}}" readonly>
                                        </div>
                                        <div class="col-md-2 col-sm-12 position-relative ">
                                            <label for="date_reclamation_id_{{ forloop.counter }}" class="form-label">Date réclamation</label>
                                            <input type="text" class="form-control form-control-intitule" id="date_reclamation_id_{{ forloop.counter }}"  value="{{reclamation.date_creation|date:'d/m/Y'}}" readonly>
                                        </div>
                                        <div class="col-md-2 col-sm-12 position-relative">
                                            <label for="statut_id_{{ forloop.counter }}" class="form-label">Statut</label>
                                            <input type="text" class="form-control form-control-intitule" id="statut_id_{{ forloop.counter }}"  value="{{ reclamation.get_statut_display }}" readonly >
                                        </div>
                                        <div class="col-md-2 col-sm-12 position-relative ">
                                            <label for="categorie_id_{{ forloop.counter }}" class="form-label">Cathégorie</label>
                                            <input type="text" class="form-control form-control-intitule" id="categorie_id_{{ forloop.counter }}"  value="{{reclamation.categorie}}" readonly>
                                        </div>
                                        <div class="col-md-2 col-sm-12 position-relative ">
                                            <label for="titre_id_{{ forloop.counter }}" class="form-label">Titre</label>
                                            <input type="text" class="form-control form-control-intitule" id="titre_id_{{ forloop.counter }}"  value="{{reclamation.messages.first.titre}}" readonly>
                                        </div>
                                        
                                        <div class="col-md-2 col-sm-12 position-relative mb-0 py-0">
                                            <label for="vue_id{{ reclamation.id }}" class="form-label">Vue</label>
                                            <div class="row g-2 ">
                                                <div class="col-md-5 col-sm-12 position-relative ">
                                                    <input type="text" class="form-control form-control-intitule" id="vue_id{{ reclamation.id }}"  value="{% if reclamation.messages.last.lu %} Oui {% else %} Non {% endif %}" readonly>
                                                </div>
                                                <div class="col-md-7 col-sm-12 d-flex justify-content-center mb-3">
                                                    <button type="submit" class="btn btn-primary  w-100" name="btn_reclamation_id{{reclamation_id}}" >
                                                        Détaille
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {%  endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!-- Liste élève fin -->
                {% endif %}
            </form>
        </div>
    </div>

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
{% endblock %}

{% block javascript %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/i18n/datepicker-fr.js"></script>
    <script src="{% static 'js/Code_en_plus_admin_payment_en_attente_reglement.js' %}"></script>
    <script>
        
    </script>
{% endblock %}