{% extends 'base.html' %}
{% load static %}
{% block title %} | Compte éléve{% endblock %}

{% block content %}


    <!-- mon compte début -->
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-4 col-lg-2  ">
            <!-- début sidebar -->
            {% include 'partials/_sidebar_eleve.html' %}
            <!-- fin sidebar -->
        </div>
        <div class=" col-sm-12 col-md-8 col-lg-10  wow fadeInUp  " data-wow-delay="0.1s">
            <div class="container-xxl py-1" >
                <div class="container">
                    <div class="text-center wow fadeInUp" data-wow-delay="0.1s"
                        style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                        <h3 class="section-title bg-white text-center text-primary px-3">Envoyez une demande de cours</h3>
                    </div>
                    <div class="col-md-12">
                        {% include 'partials/_alerts.html' %}
                    </div>
                </div>
            </div>
            <!-- Début Form-->
            <form method="POST" enctype="multipart/form-data" autocomplete="off" action="{% url 'demande_cours_envoie' id_prof=id_prof  %}"  >
                {% csrf_token %}
            
                <!-- fichiers prof debut -->
                <div class="container-xxl py-5 " id="identite">
                    <div class="container ">
                        <div class="container bg-light  p-5">
                            <div class="row g-4">
                                <div class="col-12 position-relative">
                                    <label for="sujet_id" class="form-label">Sujet de l'email</label>
                                    <input type="text" class="form-control" id="sujet_id"
                                         name="sujet" value="Demande de cours" >
                                </div>
                                <div class="col-12 position-relative">
                                    <label for="text_email_id" class="form-label">Contenu de votre email à envoyer :</label>
                                    <textarea class="form-control profil" id="text_email_id" rows="4" name="text_email" placeholder="Au besoin, posez vos questions" >
                                            {{formatted_content}}
                                        </textarea>
                                </div>
                                <div class="row justify-content-between g-2 p-3 ">
                                    <div class="col-lg-2 col-md-4 col-sm-6">
                                        <a class="btn btn-primary " href="{% url 'compte_eleve' %}"><span style="color: white;">Votre compte</span></a>
                                    </div>
                                    <div class="col-lg-1 col-md-4 col-sm-6">
                                        <button type="submit" class="btn btn-warning" name="btn_enr">
                                            Envoyez
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- fichiers prof Fin -->
            </form>






            <!-- Fin Form -->
        </div>
    </div>
    <!-- mon compte fin -->

<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
{% endblock %}
{% block javascript %}
<script>
    // http://localhost:8000/profil_prof/2/
    // fonction pour redimentionner les Textarea selon leur contenu
    function adjustTextareaHeight() {
    const textareas = document.getElementsByClassName('form-control profil');

    for (let i = 0; i < textareas.length; i++) {
        const textarea = textareas[i];
        textarea.style.height = 'auto';
        textarea.style.height = (textarea.scrollHeight - 2) + 'px';
    }
    }
</script>
<script>
    window.onload = adjustTextareaHeight; // Appel lors du chargement de la page
    document.addEventListener('input', adjustTextareaHeight); // Appel sur changement de contenu
</script>
{% endblock %}