{% extends 'base.html' %}
{% load static %}
{% block title %} | Liste remboursements Elève{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-4 col-lg-2  ">
            <!-- début sidebar -->
            {% include 'partials/_sidebar.html' %}
            <!-- fin sidebar -->
        </div>
        <div class=" col-sm-12 col-md-8 col-lg-10  wow fadeInUp  " data-wow-delay="0.1s">
            <div class="container-xxl py-1" >
                <div class="container  ">
                    <div class="text-center wow fadeInUp py-4 " data-wow-delay="0.1s"
                        style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                        <h6 class="section-title bg-white text-center text-primary px-3">Suivi des remboursements de l'élève par période et échéance</h6>
                    </div>
                    <div class="col-md-12">
                        {% include 'partials/_alerts.html' %}
                    </div>
                </div>
            </div>
            <form method="POST" enctype="multipart/form-data" >
                {% csrf_token %}
                <!-- boutons début -->
                <div class="container-xxl bg-light" >
                    <div class="row justify-content-between g-2 p-3 ">
                        <div class="col-md-3 col-sm-12 position-relative ">
                            <label for="date_id_1" class="form-label">Début période</label>
                            <input type="text" class="form-control form-control-date " required name="date_debut" placeholder="Sélectionnez une date" value="{{ date_debut|date:'d/m/Y' }}" >
                        </div>
                        <div class="col-md-6 col-sm-12 position-relative text-center">
                            <h1>Remboursements Elève</h1>
                        </div>
                        <div class="col-md-3 col-sm-12 position-relative ">
                            <label for="date_id_2" class="form-label">Fin période</label>
                            <input type="text" class="form-control form-control-date " required name="date_fin" placeholder="Sélectionnez une date" value="{{ date_fin|date:'d/m/Y' }}" >
                        </div>                           
                    </div>
                    <div class="row justify-content-between g-2 p-3 ">
                        <div class="col-lg-2 col-sm-12 d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary w-100" name="btn_en_ettente">
                                En attente
                            </button>
                        </div>
                        <div class="col-lg-2 col-sm-12 d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary w-100" name="btn_en_cours">
                                En cours
                            </button>
                        </div>
                        <div class="col-lg-2 col-sm-12 d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary w-100" name="btn_realiser">
                                Réalisé
                            </button>
                        </div>
                        <div class="col-lg-2 col-sm-12 d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary w-100" name="btn_annule">
                                Annulé
                            </button>
                        </div>
                        <div class="col-lg-2 col-sm-12 d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary w-100" name="btn_invalide">
                                Invalide
                            </button>
                        </div>
                        <div class="col-lg-2 col-sm-12  justify-content-center">
                            <div class="col-md-10 col-sm-12 position-relative ">
                                <button type="submit" class="btn btn-primary w-100" name="btn_tous">Tous</button>
                            </div>
                        </div>
                        {% if statut == 'En attente' %}
                        <div class="col-12 text-center  p-4  ">
                            <h6>
                                Les accords de remboursement en attente correspondent à des paiements confirmés, pour lesquels le transfert du remboursement vers l’élève n’a pas encore été initié par l’administrateur.
                            </h6>
                        </div>
                        {% elif statut == 'En cours' %}
                        <div class="col-12 text-center  p-4  ">
                            <h6>
                                Les accords de remboursement en cours concernent des paiements confirmés, dont le transfert vers l’élève a été initié par l’administrateur et est en attente de validation par la banque.
                            </h6>
                        </div>
                        {% elif statut == 'Réalisé' %}
                        <div class="col-12 text-center  p-4  ">
                            <h6>
                                Les accords de remboursement réalisés correspondent à des paiements confirmés, pour lesquels le virement a été validé et approuvé par la banque, attestant que le remboursement a bien été effectué auprès de l’élève.
                            </h6>
                        </div>
                        {% elif statut == 'Invalide' %}
                        <div class="col-12 text-center  p-4  ">
                            <h6>
                                Les accords de remboursement invalides concernent des paiements d’élèves validés, dont le virement du remboursement a été refusé par la banque en raison d’un problème technique ou d’une erreur de transfert. Une explication est alors transmise à l’élève.
                            </h6>
                        </div>
                        {% elif statut == 'Annulé' %}
                        <div class="col-12 text-center  p-4  ">
                            <h6>
                                Les accords de remboursement annulés concernent des paiements d’élèves initialement validés et enregistrés par l’administrateur. Par la suite, l’administrateur décide d’annuler l’accord de remboursement sans procéder au virement bancaire. Une explication est alors transmise à l’élève.
                            </h6>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <!-- boutons fin -->
                {% if  request.user.is_authenticated  and request.user.is_active %}
                    <div class="container-xxl py-3">
                        <div class="container">
                            <div class="container bg-light">
                                {% if not accord_remboursement_approveds %}
                                    <div class="col-md-12 text-center">
                                        <h4>Il n'y a pas de règlements pour cette période</h4>
                                    </div>
                                {% endif %}
                                {% for accord_remboursement , approved in accord_remboursement_approveds %}
                                    <div class="row ">
                                                <div class="col-md-3 col-sm-12 position-relative">
                                                    <label for="statut_id_{{ forloop.counter }}" class="form-label">Statut</label>
                                                    <input type="text" class="form-control form-control-intitule" id="statut_id_{{ forloop.counter }}"  value="{{accord_remboursement.status}}" readonly name="status_accord_id{{accord_remboursement.id}}" >
                                                </div>
                                                <div class="col-md-3 col-sm-12 position-relative ">
                                                    <label for="due_date_id_{{ forloop.counter }}" class="form-label">Echéance</label>
                                                    <input type="text" class="form-control form-control-intitule" id="due_date_id_{{ forloop.counter }}"  value="{{accord_remboursement.due_date|date:'d/m/Y'}}" readonly name="due_date_accord_id{{accord_remboursement.id}}" >
                                                </div>
                                                <div class="col-md-3 col-sm-12 position-relative">
                                                    <label for="reponse_id_{{ forloop.counter }}" class="form-label">Règlement</label>
                                                    <input type="text" class="form-control form-control-intitule" id="reponse_id_{{ forloop.counter }}"  value="{{accord_remboursement.total_amount|default:'0.00'|floatformat:2}} €" readonly name="amount_accord_id{{accord_remboursement.id}}" >
                                                </div>
                                                <div class="col-md-3 col-sm-12 position-relative p-4 g-2 ">
                                                    <button type="submit" class="btn {% if approved %} btn-primary {% else %} btn-danger {% endif %} w-100 " name="btn_detaille_remboursement_id{{ accord_remboursement.id }}" >
                                                        {% if approved %}Détaille{% else %}Contesté{% endif %}
                                                    </button>
                                                </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </form>
        </div>
    </div>

<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
{% endblock %}

{% block javascript %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/i18n/datepicker-fr.js"></script>
<script src="{% static 'js/Code_en_plus_admin_reglement.js' %}"></script>
<script>
    
</script>
{% endblock %}