# Environnement virtuel
venv/

# Fichiers sensibles
.env

# Dossiers de médias
media/

# Migrations Django
*/migrations/
__pycache__/

# Fichiers Python compilés
*.pyc
**/*.pyc
*.pyo
*.pyd

# Logs
*.log
logs/
**/log/
Appligne/logs/
