asgiref==3.7.2
distlib==0.3.6
Django==4.2.3
django-clearcache==1.2.1
filelock==3.9.0
Pillow==10.1.0
platformdirs==3.0.0
psycopg2-binary==2.9.6
python-magic==0.4.27
sqlparse==0.4.4
tzdata==2023.3
virtualenv==20.19.0
python-decouple==3.5
django-mathfilters==1.0.0
requests==2.31.0
google-api-python-client==2.121.0

