{% extends 'base.html' %}
{% load static %}
{% block title %} | Compte professeur{% endblock %}

{% block content %}

    <!-- Header Start -->
    <div class="container-fluid bg-primary py-5 mb-5 page-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <!-- header Start -->
                    <div class="container ">
                        <div class="text-center wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                            <h4 class="text-center text-white ">Gérer mon compte</h4>
                            <h2 class="text-center text-white">Consulter mes élèves</h2>
                        </div>
                    </div>
                    <!-- header end -->
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->

    <!-- mon compte début -->
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-4 col-lg-2  ">
            <!-- début sidebar -->
            {% include 'partials/_sidebar.html' %}
            <!-- fin sidebar -->
        </div>
        <div class="col-sm-12 col-md-8 col-lg-10 wow fadeInUp" data-wow-delay="0.1s">
            <!-- Début page -->
            <div class="container-xxl py-1">
                <div class="container">
                    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                        <h6 class="section-title bg-white text-center text-primary px-3">Nouvelles demandes de cours</h6>
                    </div>
                    <div class="col-md-12">
                        {% include 'partials/_alerts.html' %}
                    </div>
                </div>
            </div>
            <form method="POST" enctype="multipart/form-data" autocomplete="off" action="{% url 'demande_cours_recu' %}">
                {% csrf_token %}
                <div class="container-xxl py-5">
                    <div class="container">
                        <div class="container bg-light p-5">
                            {% for email_detaille in email_detailles %}
                                <div class="row  " style="margin-bottom: 30px;" >
                                    <div class="col-md-2 col-sm-12 position-relative">
                                        <label for="date_id_{{ forloop.counter }}" class="form-label">Date</label>
                                        <input type="text" class="form-control form-control-intitule" id="date_id_{{ forloop.counter }}"  value="{{email_detaille.email.date_telechargement}}" readonly>
                                    </div>
                                    <div class="col-md-3 col-sm-12 position-relative">
                                        <label for="eleve_id_{{ forloop.counter }}" class="form-label">Élève</label>
                                        <input type="text" class="form-control form-control-intitule" id="eleve_id_{{ forloop.counter }}"  value="{{email_detaille.user_nom}}" readonly >
                                    </div>
                                    <div class="col-md-2 col-sm-12 position-relative">
                                        <label for="intitule_id_{{ forloop.counter }}" class="form-label">Matière</label>
                                        <input type="text" class="form-control form-control-intitule" id="intitule_id_{{ forloop.counter }}"  value="{{email_detaille.matiere}}" readonly>
                                    </div>
                                    <div class="col-md-2 col-sm-12 position-relative">
                                        <label for="intitule_id_{{ forloop.counter }}" class="form-label">Niveau</label>
                                        <input type="text" class="form-control form-control-intitule" id="intitule_id_{{ forloop.counter }}"  value="{{email_detaille.niveau}}" readonly>
                                    </div>
                                    <div class="col-md-3 col-sm-12 position-relative">
                                        <div class="row ajout-dipl p3">
                                            <label for="intitule_id_{{ forloop.counter }}" class="form-label">Format cours</label>
                                            <div class="col-md-8 col-sm-12 position-relative"> 
                                                <input type="text" class="form-control form-control-intitule" id="intitule_id_{{ forloop.counter }}" value="{{email_detaille.format_cours}}" readonly>
                                            </div>
                                            <div class="col-md-4 col-sm-12 position-relative"><a class="btn btn-primary" name="btn_détaille_{{ email.id }}" href="{% url 'demande_cours_recu_eleve' email_id=email_detaille.email.id %}" ><span
                                                        style="color: white;">
                                                Détaille</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>                        
            </form>
        </div>
    </div>
    <!-- mon compte fin -->

<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

{% endblock %}