{% extends 'base.html' %}
{% load static %}
{% block title %} | Emails reçus{% endblock %}

{% block content %}

    <!-- Header Start -->
    <div class="container-fluid bg-primary py-5 mb-5 page-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <!-- header Start -->
                    <div class="container ">
                        <div class="text-center wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                            <h4 class="text-center text-white ">Gérer mon compte</h4>
                            <h2 class="text-center text-white">Consulter mes élèves</h2>
                        </div>
                    </div>
                    <!-- header end -->
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->

    <!-- mon compte début -->
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-4 col-lg-2  ">
            <!-- début sidebar -->
            {% include 'partials/_sidebar.html' %}
            <!-- fin sidebar -->
        </div>
        <div class=" col-sm-12 col-md-8 col-lg-10  wow fadeInUp  " data-wow-delay="0.1s">
            <div class="container-xxl py-5 ">
                <div class="container ">
                    <div class="col-md-12">
                        {% include 'partials/_alerts.html' %}
                    </div>
                    <!-- <div class="container bg-light  "> -->
                        <form method="POST" enctype="multipart/form-data" autocomplete="off" action="{% url 'email_recu_prof' %}">
                            {% csrf_token %}
                            <div class="text-center wow fadeInUp py-1" data-wow-delay="0.1s"
                                style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                                <h6 class="section-title bg-white text-center text-primary px-3">Emails reçus</h6>
                            </div>
                            {% if emails %}
                            <div class="container-xxl " >
                                <div class="row justify-content-between g-2 p-3 ">
                                    <div class="col-lg-3 col-sm-12 d-flex justify-content-center">
                                        <button type="submit" class="btn btn-primary w-100" name="btn_nouveau">
                                            Nouveaux
                                        </button>
                                    </div>
                                    <div class="col-lg-3 col-sm-12 d-flex justify-content-center">
                                        <button type="submit" class="btn btn-primary w-100" name="btn_attente">
                                            En attente
                                        </button>
                                    </div>
                                    <div class="col-lg-2 col-sm-12 d-flex justify-content-center">
                                        <button type="submit" class="btn btn-primary w-100" name="btn_ignore">
                                            Ignorés
                                        </button>
                                    </div>
                                    <div class="col-lg-2 col-sm-12 d-flex justify-content-center">
                                        <button type="submit" class="btn btn-primary w-100" name="btn_repondu">
                                            Répondus
                                        </button>
                                    </div>
                                    <div class="col-lg-2 col-sm-12 d-flex justify-content-center">
                                        <button type="submit" class="btn btn-primary w-100" name="btn_tous">
                                            Tous
                                        </button>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            <div class="container-xxl py-5 bg-light p-4 " >
                                {% if not emails %}
                                    <div class="col-md-12 position-relative">
                                        <label for="email_id" class="form-label">Il n'y a pas d'email</label>
                                    </div>
                                {% endif %}
                                        {% for email in emails %}
                                            <div class="row  " style="margin-bottom: 30px;">
                                                <div class="col-md-2 col-sm-12 position-relative ">
                                                    <label for="date_telechargement_id_{{ forloop.counter }}" class="form-label">Date d'envoi</label>
                                                    <input type="text" class="form-control form-control-intitule" id="date_telechargement_id_{{ forloop.counter }}"  value="{{email.date_telechargement}}" readonly>
                                                </div>
                                                <div class="col-md-4 col-sm-12 position-relative">
                                                    <label for="sujet_id_{{ forloop.counter }}" class="form-label">Sujet</label>
                                                    <input type="text" class="form-control form-control-intitule" id="sujet_id_{{ forloop.counter }}"  value="{{email.sujet}}" readonly >
                                                </div>
                                                <div class="col-md-2 col-sm-12 position-relative">
                                                    <label for="reponse_id_{{ forloop.counter }}" class="form-label">Réponse</label>
                                                    <input type="text" class="form-control form-control-intitule" id="reponse_id_{{ forloop.counter }}"  value="{{email.suivi}}" readonly>
                                                </div>
                                                <div class="col-md-4 col-sm-12 position-relative">
                                                    <div class="row  ">
                                                        <label for="first_name_id_{{ forloop.counter }}" class="form-label">Elève</label>
                                                        <div class="col-md-8 col-sm-12 position-relative mb-3">
                                                
                                                            <input type="text" class="form-control form-control-intitule" id="first_name_id_{{ forloop.counter }}"
                                                                value="{{email.user.first_name}}  {{email.user.last_name}}" readonly>
                                                        </div>
                                                        <div class="col-md-4 col-sm-12 d-flex justify-content-center mb-3">
                                                            <a class="btn btn-primary w-100" name="btn_détaille_{{ email.id }}"
                                                                href="{% url 'email_detaille' email_id=email.id %}"><span
                                                                    style="color: white;">Détaille <!--{{email.id }}--></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        {% endfor %}
                                    <!-- </div> -->
                                <!-- </div> -->
                            </div>
                        </form>
                    <!-- </div> -->
                </div>
            </div> 
        </div>
    </div>
</div>
    <!-- mon compte fin -->

<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

{% endblock %}