{% extends 'base.html' %}
{% load static %}
{% block title %} | Modifier compte professeur{% endblock %}

{% block content %}

    <!-- Header Start -->
    <div class="container-fluid bg-primary py-5 mb-5 page-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <!-- header Start -->
                    <div class="container ">
                        <div class="text-center wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                            <h4 class="text-center text-white ">Gérer mon compte</h4>
                            <h2 class="text-center text-white">Consulter mes élèves</h2>
                        </div>
                    </div>
                    <!-- header end -->
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->

    <!-- mon compte début -->
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-4 col-lg-2  ">
            <!-- début sidebar -->
            {% include 'partials/_sidebar.html' %}
            <!-- fin sidebar -->
        </div>
        <div class=" col-sm-12 col-md-8 col-lg-10  wow fadeInUp  " data-wow-delay="0.1s">
            <!-- Début page -->
            <!-- formulaire créer compte prof début -->
            <div class="container-xxl py-1" >
                <div class="container">
                    <div class="text-center wow fadeInUp" data-wow-delay="0.1s"
                        style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                        <h6 class="section-title bg-white text-center text-primary px-3">Vos données</h6>
                        <h1 class="mb-5">Modifier vos coordonnées</h1>
                    </div>
                    <div class="col-md-12">
                        {% include 'partials/_alerts.html' %}
                    </div>
                </div>
            </div>
            <form method="POST" enctype="multipart/form-data" autocomplete="off" action="{% url 'modifier_compte_prof' %}"  >
                <!-- {% csrf_token %} obligatoire juste après la balise <form> pour que django accepte method="POST" -->
                {% csrf_token %}
                
                <!-- mon compte début -->
                <!-- identité et coordonnees debut -->
                <div class="container-xxl py-5 " id="identite">
                    <div class="container ">
                        <div class="container bg-light  p-5">
                            <div class="row g-4">
                                <!-- Si le user n'est pas connecté -->
                                {% if  request.user.is_authenticated %}
                                <div class="col-md-4 position-relative">
                                    <label for="username_id" class="form-label">Nom de l'utilisateur</label>
                                    <!-- autocomplete="off" ne marche pas ?? -->
                                    <input type="text" class="form-control" id="username_id" name="username" required
                                        title="Entrez votre nom d'utilisateur ici pour vous identifier" value="{{username}}" autocomplete="off" >
                                </div>
                                
                                
                                <div class="col-md-4 position-relative">
                                    <label for="first_name_id" class="form-label">Prénom</label>
                                    <input type="text" class="form-control" id="first_name_id" name="first_name" required value="{{first_name}}" >
                                </div>
                                <div class="col-md-4 position-relative">
                                    <label for="last_name_id" class="form-label">Nom</label>
                                    <input type="text" class="form-control" id="last_name_id" name="last_name" required value="{{last_name}}" >
                                </div>
                                <div class="col-md-4 position-relative">
                                    <label for="civilite_id" class="form-label">Civilité</label>
                                    <select class="form-select" id="civilite_id" name="civilite" value="{{civilite}}">
                                        <option value="Homme" {% if civilite == 'Homme' %}selected{% endif %}>Monsieur</option>
                                        <option value="Femme" {% if civilite == 'Femme' %}selected{% endif %}>Madame</option>
                                        <option value="Autre" {% if civilite == 'Autre' %}selected{% endif %}>Autre</option>
                                    </select>
                                </div>
            
                                <div class=" col-md-4   position-relative">
                                    <label for="adresse_id" class="form-label">Adresse</label>
                                    <input type="text" class="form-control" id="adresse_id" name="adresse" required value="{{adresse}}" >
                                </div>
                                <div class="col-md-4 position-relative">
                                    <label for="email_id" class="form-label">Email </label>
                                    <div class="input-group has-validation">
                                        <span class="input-group-text">@</span>
                                        <input type="text" class="form-control" id="email_id"
                                            aria-describedby="validationTooltipUsernamePrepend" name="email" required value="{{email}}" >
                                    </div>
                                </div>
                                <div class="col-md-4 position-relative">
                                    <label class="form-label" for="numero_telephone_id">Numéro de téléphone :</label>
                                    <input type="text" class="form-control" id="numero_telephone_id" name="numero_telephone"
                                        pattern="[0-9]{2} [0-9]{2} [0-9]{2} [0-9]{2} [0-9]{2}" placeholder="00 00 00 00 00"
                                        required value="{{numero_telephone}}" >
                                </div>
            
                                <div class="col-md-4 position-relative ">
                                    <label for="date_naissance_id" class="form-label">Date de naissance</label>
                                    <input type="text" class="form-control form-control-date" id="date_naissance_id" placeholder="Sélectionnez une date"
                                        name="date_naissance" required value="{{date_naissance}}" >
                                </div>
                                <div class="col-md-4 position-relative">
                                    <label for="photo_id" class="form-label">Photo d'identité</label>
                                    <input type="file" accept="image/*" capture="camera" class="form-control" id="photo_id"
                                        name="photo" >
                                    <!-- L'attribut "accept" avec la valeur "image/*" acceptera tous les types d'images -->
                                    <!-- L'attribut "capture" avec la valeur "camera" ouvrira la caméra sur les appareils mobiles -->
                                </div>
                                <div class="row justify-content-end g-2 p-3 ">
                                    <div class="col-lg-1 col-md-4 col-sm-6">
                                        <button type="submit" class="btn btn-warning" name="btn_enr">
                                            Enregistrer
                                        </button>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- identité et coordonnees Fin -->
            </form>
            <!-- fin page -->
        </div>
    </div>
    <!-- mon compte fin -->

<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

{% endblock %}
{% block javascript %}
    <script src="{% static 'js/Code_en_plus_modifier_compte_prof.js' %}"></script>
{% endblock %}