{% extends 'base.html' %}
{% load static %}
{% block title %} | Compte professeur{% endblock %}

{% block content %}

<!-- Header Start -->
<div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5 text-center">
        <h4 class="text-white">Gérer mon compte</h4>
        <h2 class="text-white">Consulter mes élèves</h2>
    </div>
</div>
<!-- Header End -->

<!-- mon compte début -->
<div class="row justify-content-center">
    <!-- Sidebar -->
    <div class="col-sm-12 col-md-4 col-lg-2">
        {% include 'partials/_sidebar.html' %}
    </div>
    
    <!-- Page Content -->
    <div class="col-sm-12 col-md-8 col-lg-10 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container-xxl py-1">
            <div class="container text-center">
                <h6 class="section-title bg-white text-center text-primary px-3">Fixez vos prix par heure</h6>
                <h3 class="px-3">Selon la matière, le niveau et le format du cours</h3>
                <h6 class="px-3">Les prix inférieurs à 10 €/h sont ignorés</h6>
            </div>
            <div class="col-md-12">
                {% include 'partials/_alerts.html' %}
            </div>
        </div>

        <!-- Formulaire pour fixer les prix par heure -->
        <form method="POST" enctype="multipart/form-data" autocomplete="off" action="{% url 'nouveau_prix_heure' %}">
            {% csrf_token %}

            <div class="container-xxl py-5">
                {% for format in liste_format %}
                <div class="container bg-light p-5">
                    <div class="row">
                        <div class="col-lg-12 position-relative">
                            <label class="form-label font-weight-bold">
                                {% if format == 'a_domicile' %}
                                Cours à domicile
                                {% elif format == 'webcam' %}
                                Cours par webcam
                                {% elif format == 'stage' %}
                                Stage pendant les vacances
                                {% elif format == 'stage_webcam' %}
                                Stage par webcam
                                {% else %}
                                Cours en groupe par webcam
                                {% endif %}
                            </label>
                        </div>

                        {% for id, matiere, niveau, prix_heure, format_key in liste_enregistrements %}
                        {% if format == format_key %}
                        <div class="col-lg-6">
                            {% if forloop.counter == 1 %}
                            <label for="matiere_{{ forloop.parentloop.counter }}_{{ forloop.counter }}">Matière</label>
                            {% endif %}
                            <input type="text" class="form-control" id="matiere_{{ forloop.parentloop.counter }}_{{ forloop.counter }}" 
                                name="matiere_{{ forloop.parentloop.counter }}_{{ forloop.counter }}" value="{{ matiere }}" readonly disabled>
                        </div>
                        <div class="col-lg-4">
                            {% if forloop.counter == 1 %}
                            <label for="niveau_{{ forloop.parentloop.counter }}_{{ forloop.counter }}">Niveau</label>
                            {% endif %}
                            <input type="text" class="form-control" id="niveau_{{ forloop.parentloop.counter }}_{{ forloop.counter }}" 
                                name="niveau_{{ forloop.parentloop.counter }}_{{ forloop.counter }}" value="{{ niveau }}" readonly disabled>
                        </div>
                        <div class="col-lg-2">
                            {% if forloop.counter == 1 %}
                            <label for="prix_heure_{{ forloop.parentloop.counter }}_{{ forloop.counter }}">Prix par heure: &euro;/h</label>
                            {% endif %}
                            <input type="text" class="form-control form-control-intitule prix-heure text-center" id="prix_heure_{{ forloop.parentloop.counter }}_{{ forloop.counter }}" 
                                name="prix_heure-{{id}}__{{ format }}" value="{{ prix_heure }}">
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}

                <!-- Boutons d'action -->
                <div class="row justify-content-between g-2 p-3">
                    <div class="col-lg-2 col-md-4 col-sm-6">
                        <a class="btn btn-primary" href="{% url 'profil_prof' id_user=user.id %}">
                            Voir votre profil
                        </a>
                    </div>
                    <div class="col-lg-1 col-md-4 col-sm-6">
                        <button type="submit" class="btn btn-warning" name="btn_enr">
                            Enregistrer
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- mon compte fin -->

<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top">
    <i class="bi bi-arrow-up"></i>
</a>

{% endblock %}

{% block javascript %}
<script src="{% static 'js/Code_en_plus_nouveau_prix_heure.js' %}"></script>
{% endblock %}
