{% extends 'base.html' %}
{% load static %}
{% block title %} | Home{% endblock %}

{% block content %}

<!-- formulaire créer compte prof début -->
<!-- method="POST" pour sécuriser les données -->
<div class="container-xxl py-5 " id="identite">
    <div class="container ">
        <!-- Affichage des alertes (succès, erreurs, etc.) -->
        <div class="text-center">
            {% include 'partials/_alerts.html' %}
        </div>
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s"
            style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
            {% if request.user.is_authenticated %}
            <h4 class="alert alert-info text-center">
                Bienvenu {{ request.user.username }} , Vous êtes maintenant connecté(e) à votre compte
                {% if request.user.professeur %}
                    <a class="text-primary" href="{% url 'compte_prof' %}"> en tant que professeur</a>
                {% elif request.user.eleve %}
                    <a class="text-primary" href="{% url 'compte_eleve' %}"> en tant qu'élève</a>
                {% elif user.is_staff %}
                    <a class="text-primary" href="{% url 'compte_administrateur' %}"> en tant qu'administrateur</a> 
                {% endif %}
            </h4>
            <h5 class="alert alert-warning text-center" ><a class="text-primary" href="{% url 'logout' %}">Se déconnecter</a></h5>
            {% endif %}
            {% if not request.user.is_authenticated %}
            <h6 class="section-title bg-white text-center text-primary px-3">Se connecter à votre compte</h6>
            <h1 class="mb-5">Introduire vos coordonnées</h1>
        </div>
        <div class="col-md-12">
            <h4 class="alert alert-info text-center" ><a class="text-dark" href="{% url 'nouveau_compte_eleve' %}">Créer un compte élève</a></h5></h4>
        </div>
        <div class="col-md-12">
            <h4 class="alert alert-info text-center" ><a class="text-dark" href="{% url 'nouveau_compte_prof' %}">Créer un compte professeur</a></h5></h4>
        </div>
    </div>
</div>
<form method="POST" enctype="multipart/form-data" autocomplete="off" action="{% url 'signin' %}"  >
    {% csrf_token %}
    <!-- {% csrf_token %} obligatoire juste après la balise <form> pour que django accepte method="POST" -->
    <!-- mon compte début -->
    <!-- identité et coordonnees debut -->
    <div class="container-xxl py-5 " id="identite">
        <div class="container ">
            <div class="container bg-light  p-5">
                  <div class="row g-4">
                    <div class="col-md-12 position-relative">
                        <label for="user_nom_id" class="form-label">Nom de l'utilisateur </label>
                        <!-- autocomplete="off" ne marche pas ?? -->
                        <input type="text" class="form-control" id="user_nom_id" name="user_nom" required
                            title="Entrez votre nom d'utilisateur ici pour vous identifier" value="{{user_nom}}" autocomplete="off" >
                    </div>
                    <!--<div class="col-md-12 position-relative">
                        <label for="mot_pass_id" class="form-label">Mot de passe</label>
                        <input type="password" class="form-control" id="mot_pass_id" name="mot_pass" required value="{{mot_pass}}" autocomplete="off" >
                    </div>-->
                    <div class="form-group col-md-12 position-relative">
                        <label for="mot_pass_id">Mot de passe</label>
                        <div class="input-group">
                            <input type="password" class="form-control" id="mot_pass_id" name="mot_pass" placeholder="Entrez votre mot de passe" required value="{{mot_pass}}">
                            <div class="input-group-append" style="height:38px; ">
                                <span class="input-group-text password-toggle " onclick="togglePassword('mot_pass_id')">
                                    <i class="fas fa-eye input-group-text"></i>
                                </span>
                            </div>
                        </div>         
                    </div>
                    <div class="col-md-12  position-relative">
                        
                        <input class="form-check-input" type="checkbox" id="souviens_toi_id" name="souviens_toi">
                        <label class="form-label" for="souviens_toi_id">Souviens-toi de moi</label>
                    </div>
                    
                    <div class="row justify-content-end g-2 p-3 ">
                        <div class="col-lg-1 col-md-4 col-sm-6">
                            <button type="submit" class="btn btn-warning" name="btn_enr">
                                Enregistrer
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- identité et coordonnees Fin -->
</form>
{% endif %}
{% endblock %}
{% block javascript %}
<script>
    function togglePassword(fieldId) {
        var field = document.getElementById(fieldId);
        var icon = field.nextElementSibling.querySelector('i');
        if (field.type === "password") {
            field.type = "text";
            icon.classList.remove('fa-eye');
            icon.classList.add('fa-eye-slash');
        } else {
            field.type = "password";
            icon.classList.remove('fa-eye-slash');
            icon.classList.add('fa-eye');
        }
    }
</script>
<script>
    window.onload = function() {
        document.getElementById("user_nom_id").focus();
    };
</script>
{% endblock %}