{% extends 'base.html' %}
{% load static %}
{% block title %} | Témoignage détaille{% endblock %}


{% block head %}
    {{ block.super }}  <!-- Conserve les styles existants dans 'base.html' -->
    <link rel="stylesheet" href="{% static 'css/styleplus_temoignage.css' %}">
{% endblock %}

{% block content %}

<!-- Header Start -->
<div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <!-- Titre de la page -->
                <div class="container">
                    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                        <h4 class="text-white">Gérer mon compte</h4>
                        <h2 class="text-white">Consulter mes élèves</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->

<!-- Début de la section principale du compte élève -->
<div class="row justify-content-center">
    <div class="col-sm-12 col-md-4 col-lg-2">
        <!-- Inclusion de la sidebar du compte élève -->
        {% include 'partials/_sidebar.html' %}
    </div>
    
    <!-- Contenu principal de la page -->
    <div class="col-sm-12 col-md-8 col-lg-10 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container-xxl py-1">
            <div class="container">
                <!-- Titre secondaire de la section témoignage et évaluation -->
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h6 class="section-title bg-white text-center text-primary px-3">Témoignage et évaluation</h6>
                </div>
                <!-- Affichage des alertes (succès, erreurs, etc.) -->
                <div class="col-md-12">
                    {% include 'partials/_alerts.html' %}
                </div>
            </div>
        </div>

        <!-- Début du formulaire pour soumettre un témoignage -->
        <form method="POST" enctype="multipart/form-data" autocomplete="off">
            {% csrf_token %} <!-- Token de sécurité CSRF -->

            <!-- Section de sélection du professeur et soumission du témoignage -->
            <div class="container-xxl py-5" id="identite">
                <div class="container bg-light p-4">
                    <div class="row g-4">

                        

                        
                        <!-- Évaluation en étoiles -->
                        <div class="col-sm-12">
                            <div class="mb-2">
                                <!-- Boucle pour afficher les 5 étoiles cliquables -->
                                <small class="fa fa-star spaced"   id="t1" ></small>
                                <small class="fa fa-star spaced"   id="t2" ></small>
                                <small class="fa fa-star spaced"   id="t3" ></small>
                                <small class="fa fa-star spaced"   id="t4" ></small>
                                <small class="fa fa-star spaced"   id="t5" "></small>
                                
                                <!-- Label pour afficher la note sélectionnée -->
                                <small>
                                    <label class="form-label spaced" id="t6" style="font-size: large;">Témoignage</label>
                                </small>
                            </div>
                            <!-- Champ caché pour stocker la note sélectionnée -->
                            <input type="hidden" name="temoignage" id="temoignage-value" value="{{temoignage.evaluation_eleve}}">
                        </div>
                        <!-- Zone de texte pour le contenu du témoignage -->
                        <div class="col-12 position-relative">
                            <label for="text_email_id" class="form-label">Contenu du témoignage de l'élève :</label>
                            <textarea class="form-control profil" id="text_email_id" rows="4" name="text"  maxlength="700" readonly>{{ temoignage.text_eleve|default_if_none:'' }}</textarea>
                        </div>
                        <!-- Zone de texte pour le contenu du témoignage -->
                        <div class="col-12 position-relative">
                            <label for="text_prof_id" class="form-label">Retour sur témoignage de l'élève :</label>
                            <textarea class="form-control profil" id="text_prof_id" rows="4" name="text_prof"  maxlength="700">{{ temoignage.text_prof|default_if_none:'' }}</textarea>
                        </div>

                        <!-- Boutons pour retourner au compte ou soumettre le témoignage -->
                        <div class="row justify-content-between g-2 p-3">
                            <div class="col-lg-2 col-md-4 col-sm-6 d-flex justify-content-center">
                                <a class="btn btn-primary w-100" href="{% url 'compte_eleve' %}"><span style="color: white;">Votre compte</span></a>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 d-flex justify-content-center">
                                <button type="submit" class="btn btn-warning w-100" name="btn_enr">Enregistrer</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- Fin du formulaire -->
    </div>
</div>
<!-- Fin de la section principale du compte élève -->

<!-- Bouton pour retourner en haut de la page -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

{% endblock %}

{% block javascript %}
<script>
    // http://localhost:8000/profil_prof/2/
    // fonction pour redimentionner les Textarea selon leur contenu
    function adjustTextareaHeight() {
    const textareas = document.getElementsByClassName('form-control profil');

    for (let i = 0; i < textareas.length; i++) {
        const textarea = textareas[i];
        textarea.style.height = 'auto';
        textarea.style.height = (textarea.scrollHeight - 2) + 'px';
    }
    }
</script>
<script>
    window.onload = adjustTextareaHeight; // Appel lors du chargement de la page
    document.addEventListener('input', adjustTextareaHeight); // Appel sur changement de contenu
</script>

<!-- Chargement du fichier JavaScript pour gérer l'interaction des étoiles -->
<script src="{% static 'js/Code_en_plus_temoignage_detaille.js' %}"></script>
{% endblock %}
