{% extends 'base.html' %}
{% load static %}
{% block title %} | Home{% endblock %}

{% block content %}

<!-- formulaire créer compte prof début -->
<div class="container-xxl py-1" >
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s"
            style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
            <h6 class="section-title bg-white text-center text-primary px-3">Créer un nouveaux compte</h6>
            <h1 class="mb-5">La zone d'activité </h1>
        </div>
        <div class="col-md-12">
            {% include 'partials/_alerts.html' %}
        </div>
    </div>
</div>


<form method="POST" enctype="multipart/form-data" >
{% csrf_token %}

<!-- Zone d'activité debut -->
<div class="container-xxl py-5" id="zone">
    <div class="container">
        <div class="container bg-light  p-5">
            <div class="row g-2 ajout-zone" id="supprimerDivZone-1">
                <div class=" col-md-3  position-relative">
                    <label  class="form-label">Régions</label>
                    <select class="form-select" id="reg_id" required>
                        <option>ALSACE</option>
                        <option>ILE-DE-FRANCE</option>
                        <option>LORRAINE</option>
                    </select>
                </div>
                <div class=" col-md-3  position-relative">
                    <label  class="form-label">Département</label>
                    <select class="form-select" id="dep_id" required>

                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Zone d'activité fin -->

</form>
{% endblock %}