{% load static %}
<!-- début sidebar -->
<nav id="sidebar">
    <div class="p-4 pt-5">
        <ul class="list-unstyled components mb-5">
            <li >
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><strong>Ajouter</strong></a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="{% url 'nouveau_diplome' %}" class="dropdown-item"  >Diplome</a>
                </li>
                <li>
                    <a href="{% url 'nouveau_experience' %}" class="dropdown-item"  >Expérience</a>
                </li>
                <li>
                    <a href="{% url 'modifier_format_cours' %}" class="dropdown-item"  >Format cours</a>
                </li>
                <li>
                    <a href="{% url 'nouveau_matiere' %}" class="dropdown-item"  >Matière</a>
                </li>
                <li>
                    <a href="{% url 'nouveau_zone' %}" class="dropdown-item"  >Zone d'activité</a>
                </li>
                <li>
                    <a href="{% url 'nouveau_description' %}" class="dropdown-item"  >Description détaillée</a>
                </li>
                <li>
                    <a href="{% url 'nouveau_fichier' %}" class="dropdown-item"  >Autre fichier</a>
                </li>
                <li>
                    <a href="{% url 'nouveau_prix_heure' %}" class="dropdown-item"  >Prix par heure</a>
                </li>
                <li>
                    <a href="{% url 'demande_cours_recu' %}" class="dropdown-item"  >Demandes de cours</a>
                </li>
                <li>
                    <a href="{% url 'email_recu_prof' %}" class="dropdown-item"  >Emails reçus</a>
                </li>
                </ul>
            </li>
            <li>
                <a class="nav-link" href="{% url 'profil_prof' id_user=user.id %}"><strong>Mon profil</strong></a>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><strong>Modifier/Supprimer</strong></a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="{% url 'modifier_mot_pass' %}" class="dropdown-item"  >Modifier votre mot de passe</a>
                    </li>
                    <li>
                        <a href="{% url 'modifier_compte_prof' %}" class="dropdown-item"  >Modifier vos coordonnées</a>
                    </li>
                    <li>
                        <a href="{% url 'modifier_diplome' %}" class="dropdown-item"  >Modifier vos diplomes</a>
                    </li>
                    <li>
                        <a href="{% url 'modifier_experience' %}" class="dropdown-item"  >Modifier vos expériences</a>
                    </li>
                    <li>
                        <a href="{% url 'modifier_format_cours' %}" class="dropdown-item"  >Modifier formats cours</a>
                    </li>
                    <li>
                        <a href="{% url 'modifier_description' %}" class="dropdown-item"  >Modifier vos descriptions</a>
                    </li>
                    <li>
                        <a href="{% url 'modifier_matiere' %}" class="dropdown-item"  >Modifier des matières</a>
                    </li>
                    <li>
                        <a href="{% url 'modifier_zone' %}" class="dropdown-item"  >Supprimer des zones</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="nav-link" href="{% url 'logout' %}"><strong>Déconnection</strong></a>
            </li>
        </ul>
    </div>
</nav>
<!-- fin sidebar -->
