{% load static %}
<!-- début sidebar -->
<nav id="sidebar">
    <div class="p-4 pt-5">
        <ul class="list-unstyled components mb-5">
            <li >
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><strong>Ajouter à mon profil </strong></a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a class="nav-link" href="{% url 'profil_prof' id_user=user.id %}"><strong>Voire mon profil</strong></a>
                    </li>
                    <li>
                        <a href="{% url 'nouveau_diplome' %}" class="dropdown-item"  >Diplome</a>
                    </li>
                    <li>
                        <a href="{% url 'nouveau_experience' %}" class="dropdown-item"  >Expérience</a>
                    </li>
                    <li>
                        <a href="{% url 'modifier_format_cours' %}" class="dropdown-item"  >Format cours</a>
                    </li>
                    <li>
                        <a href="{% url 'nouveau_matiere' %}" class="dropdown-item"  >Matière</a>
                    </li>
                    <li>
                        <a href="{% url 'nouveau_zone' %}" class="dropdown-item"  >Zone d'activité</a>
                    </li>
                    <li>
                        <a href="{% url 'nouveau_description' %}" class="dropdown-item"  >Description détaillée</a>
                    </li>
                    <li>
                        <a href="{% url 'nouveau_fichier' %}" class="dropdown-item"  >Envoyer des fichiers</a>
                    </li>
                    <li>
                        <a href="{% url 'nouveau_prix_heure' %}" class="dropdown-item"  >Prix par heure</a>
                    </li>
                    
                </ul>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><strong>Modifier mon profil</strong></a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="{% url 'modifier_mot_pass' %}" class="dropdown-item"  >Modifier votre identification</a>
                    </li>
                    <li>
                        <a href="{% url 'modifier_compte_prof' %}" class="dropdown-item"  >Modifier vos coordonnées</a>
                    </li>
                    <li>
                        <a href="{% url 'modifier_diplome' %}" class="dropdown-item"  >Modifier vos diplomes</a>
                    </li>
                    <li>
                        <a href="{% url 'modifier_experience' %}" class="dropdown-item"  >Modifier vos expériences</a>
                    </li>
                    <li>
                        <a href="{% url 'modifier_format_cours' %}" class="dropdown-item"  >Modifier formats cours</a>
                    </li>
                    <li>
                        <a href="{% url 'modifier_description' %}" class="dropdown-item"  >Modifier vos descriptions</a>
                    </li>
                    <li>
                        <a href="{% url 'modifier_matiere' %}" class="dropdown-item"  >Modifier des matières</a>
                    </li>
                    <li>
                        <a href="{% url 'modifier_zone' %}" class="dropdown-item"  >Supprimer des zones</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#pageSubmenu_eleve" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><strong>Gérer mes élèves</strong></a>
                <ul class="collapse list-unstyled" id="pageSubmenu_eleve">
                    <li>
                        <a href="{% url 'liste_seance_cours' %}" class="dropdown-item"  >Liste de mes cours en attentes</a>
                    </li>
                    <li>
                        <a href="{% url 'demande_cours_recu' %}" class="dropdown-item"  >Nouvelles demandes de cours</a>
                    </li>
                    <li>
                        <a href="{% url 'email_recu_prof' %}" class="dropdown-item"  >Nouveaux émails reçus</a>
                    </li>
                    <li>
                        <a href="{% url 'liste_declaration_cours' %}" class="dropdown-item"  >Liste de mes cours déclarés</a>
                    </li>
                    <li>
                        <a href="{% url 'liste_mes_eleve' %}" class="dropdown-item"  >Élèves/ Cours/ Règlements</a>
                    </li>
                    <!-- <li>
                        <a href=" 'ajouter_cours' " class="dropdown-item"  >Ajouter un cours</a>
                    </li> -->
                    <li>
                        <a href="{% url 'reglement_nouveau_cours' 'true' %}" class="dropdown-item"  >Ajouter un cours</a>
                    </li>
                    <li>
                        <a href="{% url 'temoignage_mes_eleves' %}" class="dropdown-item"  >Liste des témoignages</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#pageSubmenu_payment" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><strong>Suivi de  mes règlements</strong></a>
                <ul class="collapse list-unstyled" id="pageSubmenu_payment">
                    <li>
                        <a href="{% url 'reglement_nouveau_cours' 'false' %}" class="dropdown-item"  >Nouvelle demande de règlement</a>
                    </li>
                    <li>
                        <a href="{% url 'liste_declaration_cours' %}" class="dropdown-item"  >Statut demandes de règlement</a>
                    </li>
                    <li>
                        <a href="{% url 'liste_payment' %}" class="dropdown-item"  >Liste des paiements de mes élèves</a>
                    </li>
                    <li>
                        <a href="{% url 'liste_reglement' %}" class="dropdown-item"  >Liste de mes règlements</a>
                    </li>
                    <li>
                        <a href="{% url 'nouvelle_reclamation' %}" class="dropdown-item"  >Créer une réclamation</a>
                    </li>
                    <li>
                        <a href="{% url 'reclamations' %}" class="dropdown-item"  >Liste des réclamations</a>
                    </li>
                    <li>
                        <a href="{% url 'admin_faq' %}" class="dropdown-item"  >FAQs GPT</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="nav-link" href="{% url 'compte_prof' %}"><strong>Voire mon compte</strong></a>
            </li>
        </ul>
    </div>
</nav>
<!-- fin sidebar -->
