<!-- Testimonial -->
{% if temoignages %}
<div class="container py-2">
    <div class="row g-5">
        {% for temoignage in temoignages %}
        <div class="col-lg-4 justify-content-start">
            <div class="testimonial-item">
                <div class="testimonial-text {% if forloop.counter|divisibleby:2 %} bg-white {% else %} bg-light {% endif %} p-4" style="height: 200px;">
                    <div class="row gy-2 gx-4 mb-4">
                        <div class="col-lg-4 justify-content-start">
                            <p class="mb-0"><strong>{{ temoignage.user_eleve.last_name }} {{ temoignage.user_eleve.first_name }}</strong></p>
                        </div>
                        <div class="col-lg-4 justify-content-start">
                            <div class="mb-3">
                                <small class="fa fa-star " id="id_{{temoignage.id}}_t1" ></small>
                                <small class="fa fa-star " id="id_{{temoignage.id}}_t2" ></small>
                                <small class="fa fa-star " id="id_{{temoignage.id}}_t3" ></small>
                                <small class="fa fa-star " id="id_{{temoignage.id}}_t4" ></small>
                                <small class="fa fa-star " id="id_{{temoignage.id}}_t5" ></small>
                            </div>
                            <input type="hidden" class="temoignage" id="value_id_{{temoignage.id}}" value="{{ temoignage.evaluation_eleve }}" data-group="temoignage" >
                        </div>
                        <div class="col-lg-4 justify-content-start">
                            <p class="mb-0"><strong>{{ temoignage.date_modification|date:"d/m/Y" }}</strong></p>
                        </div>
                        <div class="col-lg-12 justify-content-start">
                            <p class="mb-0 "  
                            style="word-wrap: break-word; overflow: hidden; text-overflow: ellipsis; white-space: normal; "
                            >{{ temoignage.text_eleve|slice:":150" }}{% if temoignage.text_eleve|length > 150 %}...{% endif %}</p>
                        </div>                    
                        {% if temoignage.text_prof %}
                            <div class="col-lg-12 justify-content-start">
                                <p class="mb-0">
                                    <strong>Réponse prof:</strong> {{ temoignage.text_prof|slice:":150" }}{% if temoignage.text_prof|length > 150 %}...{% endif %}
                                </p>
                                                                        
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- Pagination -->
    <div class="col-lg-12 d-flex justify-content-center">
        <nav aria-label="Page navigation example" id="nav_page">
            <ul class="pagination">
                {% if temoignages.has_previous %}
                <li class="page-item">
                    <a class="page-link pagination-link" href="?page={{ temoignages.previous_page_number }}"
                        data-page="{{ temoignages.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <span class="page-link">&laquo;</span>
                </li>
                {% endif %}

                {% for num in temoignages.paginator.page_range %}
                <li class="page-item {% if temoignages.number == num %}active{% endif %}">
                    <a class="page-link pagination-link" href="?page={{ num }}" data-page="{{ num }}">{{ num }}</a>
                </li>
                {% endfor %}

                {% if temoignages.has_next %}
                <li class="page-item">
                    <a class="page-link pagination-link" href="?page={{ temoignages.next_page_number }}"
                        data-page="{{ temoignages.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <span class="page-link">&raquo;</span>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
{% else %}
<p>Aucun témoignage trouvé.</p>
{% endif %}


{% block javascript %}
<script>
    // Fonction pour redimensionner les textarea selon leur contenu
    function adjustTextareaHeight(textarea) {
        textarea.style.height = 'auto';  // Réinitialise la hauteur
        textarea.style.height = (textarea.scrollHeight - 2) + 'px';  // Ajuste la hauteur en fonction du contenu
    }

    document.addEventListener("DOMContentLoaded", function () {
        // Redimensionne les textarea lors du chargement de la page et lors de la saisie
        const textareas = document.querySelectorAll('.form-control.profil');
        textareas.forEach(textarea => {
            adjustTextareaHeight(textarea);
            textarea.addEventListener('input', function () {
                adjustTextareaHeight(textarea);
            });
        });

        // Appelle la fonction pour gérer les étoiles
        updateStarRatings();
    });

    // Fonction pour gérer l'affichage des étoiles
    function updateStarRatings() {
        // Gestion des étoiles pour chaque témoignage
        document.querySelectorAll('[id^="value_id_"][data-group="temoignage"]').forEach(inputElement => {
            const temoignageId = inputElement.id.split('_')[2]; // Récupère l'ID du témoignage
            const evaluation = parseInt(inputElement.value); // Récupère la note d'évaluation

            for (let i = 1; i <= 5; i++) {
                const star = document.getElementById(`id_${temoignageId}_t${i}`);
                if (star) {
                    star.style.color = i <= evaluation ? 'rgb(0, 200, 255)' : 'grey';
                }
            }
        });

        // Gestion des étoiles pour le professeur
        const profInput = document.querySelector('[data-group="professeur"]');
        if (profInput) {
            const evaluationProf = parseInt(profInput.value);

            for (let i = 1; i <= 5; i++) {
                const star = document.getElementById(`t${i}`);
                if (star) {
                    star.style.color = i <= evaluationProf ? 'rgb(0, 200, 255)' : 'grey';
                }
            }
        }
    }

    function rate(value, id, group) {
        const labels = ["Mauvais", "Moyen", "Bien", "Très bien", "Excellent"];
        const prefix = group === 'temoignage' ? `id_${id}_t` : `id_t`;

        for (let i = 1; i <= 5; i++) {
            const star = document.getElementById(`${prefix}${i}`);
            if (star) {
                star.style.color = i <= value ? 'rgb(0, 100, 255)' : 'grey';
            }
        }

        if (group === 'temoignage') {
            document.getElementById(`label_${id}`).innerText = labels[value - 1];
            document.getElementById(`value_id_${id}`).value = value;
        } else if (group === 'professeur') {
            document.getElementById('label_prof').innerText = labels[value - 1];
            document.getElementById('value_id_prof').value = value;
        }
    }

    // Appelle la fonction pour restaurer les étoiles après chargement de la page
    window.onload = function () {
        restorePreviousRating();  // Restaurer les étoiles pour tous les groupes
    };

    // Fonction pour restaurer l'état des étoiles pour chaque groupe en fonction de la valeur précédente
    function restorePreviousRating() {
        document.querySelectorAll('[id^="value_id_"]').forEach(inputElement => {
            const id = inputElement.id.includes('prof') ? 'prof' : inputElement.id.split('_')[2];  // Gestion du cas 'prof'
            const previousValue = parseInt(inputElement.value);
            const group = inputElement.getAttribute('data-group');  // Récupère le groupe pour identifier s'il s'agit d'un témoignage ou d'un professeur

            if (previousValue && group) {
                rate(previousValue, id, group);  // Appel à 'rate' avec l'ID et le groupe corrects
            }
        });
    }
</script>
{% endblock %}